@import './vendor.scss';
@import './base.scss';

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --general-radius-50: 50px;
  --general-radius-32: 32px;
  --general-radius-24: 24px;
  --general-radius-20: 20px;
  --general-radius-16: 16px;
  --general-radius-12: 12px;
  --general-radius-8: 8px;
  --general-radius-4: 4px;
  --general-space-256: 256px;
  --general-space-128: 128px;
  --general-space-64: 64px;
  --general-space-56: 56px;
  --general-space-48: 48px;
  --general-space-40: 40px;
  --general-space-32: 32px;
  --general-space-24: 24px;
  --general-space-20: 20px;
  --general-space-16: 16px;
  --general-space-12: 12px;
  --general-space-10: 10px;
  --general-space-8: 8px;
  --general-space-4: 4px;
  --general-space-2: 2px;
  --earn-protocol-neutral-100: rgba(28, 28, 28, 1);
  --earn-protocol-warning-100: rgba(249, 166, 1, 1);
  --earn-protocol-critical-100: rgba(255, 87, 57, 1);
  --earn-protocol-success-100: rgba(105, 223, 49, 1);
  --earn-protocol-critical-50: rgba(141, 58, 43, 1);
  --earn-protocol-critical-10: rgba(51, 34, 31, 1);
  --earn-protocol-neutral-90: rgba(35, 35, 35, 1);
  --earn-protocol-neutral-85: rgba(43, 43, 43, 1);
  --earn-protocol-neutral-80: rgba(51, 51, 51, 1);
  --earn-protocol-neutral-70: rgba(61, 61, 61, 1);
  --earn-protocol-neutral-60: rgba(71, 71, 71, 1);
  --earn-protocol-neutral-40: rgba(119, 117, 118, 1);
  --earn-protocol-success-50: rgba(67, 126, 39, 1);
  --earn-protocol-primary-100: rgba(255, 73, 164, 1);
  --earn-protocol-primary-70: rgba(255, 128, 191, 1);
  --earn-protocol-primary-40: rgba(141, 51, 96, 1);
  --earn-protocol-primary-10: rgba(55, 40, 47, 1);
  --earn-protocol-secondary-100: rgba(255, 251, 253, 1);
  --earn-protocol-secondary-70: rgba(210, 210, 210, 1);
  --earn-protocol-secondary-60: rgba(186, 184, 185, 1);
  --earn-protocol-secondary-40: rgba(119, 117, 118, 1);
  --earn-protocol-success-10: rgba(36, 48, 30, 1);
  --earn-protocol-warning-50: rgba(138, 97, 15, 1);
  --earn-protocol-warning-10: rgba(50, 42, 25, 1);

  --earn-protocol-accent-1-100: rgba(34, 82, 255, 1);

  --color-background-primary: var(--earn-protocol-primary-100);
  --color-background-primary-hover: var(--earn-protocol-primary-70);
  --color-background-primary-disabled: var(--earn-protocol-primary-40);
  --color-background-secondary: var(--earn-protocol-neutral-80);
  --color-background-secondary-hover: var(--earn-protocol-neutral-60);
  --color-background-secondary-disabled: var(--earn-protocol-neutral-85);
  --color-background-interactive-bold: var(--earn-protocol-primary-100);
  --color-background-interactive: var(--earn-protocol-primary-100);
  --color-background-interactive-hover: var(--earn-protocol-primary-70);
  --color-background-interactive-disabled: var(--earn-protocol-primary-40);
  --color-background-success-bold: var(--earn-protocol-success-100);
  --color-background-success: var(--earn-protocol-success-10);
  --color-background-success-hover: var(--earn-protocol-success-50);
  --color-background-warning-bold: var(--earn-protocol-warning-100);
  --color-background-warning: var(--earn-protocol-warning-10);
  --color-background-warning-hover: var(--earn-protocol-warning-50);
  --color-background-critical-bold: var(--earn-protocol-critical-100);
  --color-background-critical: var(--earn-protocol-critical-10);
  --color-border: var(--earn-protocol-neutral-70);
  --color-border-hover: var(--earn-protocol-neutral-60);
  --color-surface: var(--earn-protocol-neutral-100);
  --color-surface-subtle: var(--earn-protocol-neutral-90);
  --color-surface-subtler: var(--earn-protocol-neutral-85);
  --color-surface-light: var(--earn-protocol-neutral-80);
  --color-surface-lighter: var(--earn-protocol-neutral-60);
  --color-text-primary: var(--earn-protocol-secondary-100);
  --color-text-primary-hover: var(--earn-protocol-secondary-70);
  --color-text-primary-disabled: rgba(255, 251, 253, 0.5);
  --color-text-secondary-disabled: rgba(255, 251, 253, 0.5);
  --color-text-secondary: var(--earn-protocol-secondary-60);
  --color-text-link: var(--earn-protocol-primary-100);
  --color-text-link-hover: var(--earn-protocol-primary-70);
  --color-text-success: var(--earn-protocol-success-100);
  --color-text-warning: var(--earn-protocol-warning-100);
  --color-text-critical: var(--earn-protocol-critical-100);
  --color-text-inverse: var(--earn-protocol-secondary-100);
  --color-icon-subtle: var(--earn-protocol-secondary-70);
  --color-icon: var(--earn-protocol-secondary-40);
  --color-icon-inverse: var(--earn-protocol-secondary-100);
  --spacing-space-3x-small: var(--general-space-2);
  --spacing-space-2x-small: var(--general-space-4);
  --spacing-space-x-small: var(--general-space-8);
  --spacing-space-small: var(--general-space-12);
  --spacing-space-medium: var(--general-space-16);
  --spacing-space-medium-large: var(--general-space-20);
  --spacing-space-large: var(--general-space-24);
  --spacing-space-x-large: var(--general-space-32);
  --spacing-space-2x-large: var(--general-space-64);
  --spacing-space-3x-large: var(--general-space-128);
  --spacing-space-4x-large: var(--general-space-256);
  --radius-small: var(--general-radius-4);
  --radius-medium: var(--general-radius-8);
  --radius-medium-large: var(--general-radius-12);
  --radius-large: var(--general-radius-16);
  --radius-roundish: var(--general-radius-24);
  --radius-rounder: var(--general-radius-32);
  --radius-circle: var(--general-radius-50);

  --gradient-earn-protocol-dark: linear-gradient(90deg, #ff49a4 0%, #b049ff 100%);
  --gradient-earn-protocol-light: linear-gradient(90deg,
      rgba(255, 73, 164, 0.5) 0%,
      rgba(176, 73, 255, 0.5) 100%);
  --gradient-earn-protocol-dark-10: linear-gradient(90deg,
      rgba(255, 73, 164, 0.1) 0%,
      rgba(176, 73, 255, 0.1) 100%);
  --gradient-earn-protocol-light-10: linear-gradient(90deg,
      rgba(255, 73, 164, 0.1) 0%,
      rgba(176, 73, 255, 0.1) 100%);

  --shadow-depth-1: 0px 0px 8px 0px #0000001a;
  --shadow-depth-2: 0px 0px 8px 8px #00000026;
  --shadow-depth-3: 0px 4px 8px 0px #00000033;

  --font-size-p1: 20px;
  --font-size-p2: 16px;
  --font-size-p3: 14px;
  --font-size-p4: 12px;
  --font-size-p5: 10px;

  --font-size-h1: 52px;
  --font-size-h2: 40px;
  --font-size-h3: 32px;
  --font-size-h4: 28px;
  --font-size-h5: 22px;
}