.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  flex-wrap: wrap;
  row-gap: var(--space-m);
}
@media (min-width: 532px) {
  .content {
    justify-content: space-between;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  column-gap: var(--space-m);
  max-width: 335px;
}
