.bridgeSwapWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  transform: translateX(100%);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: var(--color-neutral-10);
  box-shadow: none;
  width: 430px;
}
.bridgeSwapWrapperActive {
  transform: translateX(0);
  box-shadow: var(--shadow-depth-3);
}

.closeButton {
  display: block;
  border: 1px solid var(--color-neutral-80);
  border-radius: var(--radius-circle);
  padding: var(--space-s);
  position: absolute;
  bottom: var(--space-l);
  right: 50%;
  transform: translateX(50%);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
