.yieldSourceLabel {
  width: fit-content;
  border-radius: 4px;
  padding: 2px 8px 5px 8px;
  background: linear-gradient(90deg, rgba(255, 73, 164, 0.05) 0%, rgba(176, 73, 255, 0.05) 93%);

  span {
    white-space: nowrap;
  }
}