.infoBox {
  border: 1px solid var(--color-interactive-100);
  border-radius: var(--radius-large);
  background: var(--color-surface-subtler);
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--general-space-12) var(--general-space-12) var(--general-space-8) var(--general-space-16);
}

.title {
  color: var(--color-text-primary-disabled);
}

.content {
  padding: 0 16px 16px;
  color: var(--color-text-secondary);
}
.content.noTitle {
  padding: 16px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  margin-bottom: var(--general-space-12);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--earn-protocol-neutral-80);
  margin: var(--general-space-4) 0;
}
