.orderInformationWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-12);
  width: 100%;

  .orderInformationList {
    display: flex;
    flex-direction: column;
    gap: var(--general-space-12);

    .listItem {
      display: flex;
      justify-content: space-between;

      .label {
        display: flex;
        align-items: center;
        gap: var(--general-space-4);
      }
    }
  }

  .orderInformationListInExpander {
    padding: var(--general-space-12);
  }
}
