.buttonExampleStyle {
  background-color: lightblue;
  color: darkblue;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.1s;
  &:hover {
    background-color: lightgreen;
    color: darkgreen;
  }
}
