@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animateSpin {
  animation: spin 1s linear infinite;
}

.animateSpinFast {
  animation: spin 0.4s linear infinite;
}
