.carouselContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  perspective: 600px;
  overflow: hidden;
}

.carouselContent {
  display: flex;
  position: relative;
  width: 100%;
  height: 596px;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  backface-visibility: hidden;
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
  transform-style: preserve-3d;
}

.slideActive {
  transform: translateX(0) rotateY(0deg);
  opacity: 1;
  z-index: 1;
}

.slideLeft {
  transform: translateX(-100%) translateZ(-400px) rotateY(-60deg);
  opacity: 0;
}

.slideRight {
  transform: translateX(100%) translateZ(-400px) rotateY(60deg);
  opacity: 0;
}

.carouselButtons {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.buttonLeft,
.buttonRight {
  pointer-events: all;
  background-color: var(--earn-protocol-neutral-90);
  border: none;
  padding: 10px;
  width: 52px;
  height: 52px;
  border-radius: var(--radius-circle);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLeft:hover,
.buttonRight:hover {
  background-color: #555;
}
