.heroWrapper {
  display: flex;
  flex-direction: column;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.heroContent {
  max-width: 1200px;
  text-align: left;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-small);
}

.heroParagraph {
  color: var(--color-text-secondary);
}

.subLandingPageSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-space-2x-large);
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-medium);
  padding-top: 0;
  padding-bottom: 0;
}

.card {
  width: 100%;
  padding: var(--spacing-space-2x-large);
  border-radius: 32px;
  border: 1px solid #232323;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.linesBackground {
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: auto;
  height: auto;
}

.linesBackgroundSecondBlock {
  transform: translate(30%, 10%) scale(1.3);
}


.backgroundOrb {
  position: absolute;
  bottom: 0;
  right: -25%;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: #5B035D;
  filter: blur(150px);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-2x-small);
  position: relative;
  z-index: 10;
}

.cardSubtitle {
  margin-bottom: var(--spacing-space-large);
}

.iconBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #BA5D8B;
  margin-bottom: var(--spacing-space-small);
}

.subSectionTextSecondary {
  color: var(--color-text-secondary);
}

.introCardsRow {
  display: flex;
  gap: var(--spacing-space-medium);
}

.introCard {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
  border-radius: 32px;
  border: 1px solid #232323;
  padding: var(--spacing-space-2x-large);
}

.introCardParagraph {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-space-large);
}

.marketLogosGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--spacing-space-2x-large);
  gap: var(--spacing-space-2x-large);
  justify-items: center;
}

.iconColumn {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-space-small);
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-space-small);
  width: 100%;
}

.selfManagedVaultScreenshotWrapper {
  margin-top: var(--spacing-space-2x-large);
  margin: var(--spacing-space-2x-large) auto -300px;
}

.sdkSection {
  display: flex;
  align-items: center;
  gap: var(--spacing-space-3x-large);
}

.sdkTextColumn {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-small);
}

.sdkDescription {
  color: var(--color-text-secondary);
}

.buildBySection {
  max-width: 1650px;
  padding-left: 0;
  padding-right: 0;
}