.progressBar {
  width: 152px;
  height: 8px;
  background-color: var(--earn-protocol-neutral-60);
  border-radius: var(--radius-circle);
  overflow: hidden;

  .progressBarFill {
    height: 100%;
    background-color: rgba(110, 219, 152, 1);
    border-radius: var(--radius-circle);
  }
}
