.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 36px;
  flex: 30%;
  max-width: 105px;
  border-radius: var(--general-radius-8);
}
.wrapper.selected {
  position: relative;
  background-clip: padding-box;
  box-sizing: border-box;
  border: solid 1px transparent;
  cursor: pointer;
}
.wrapper.selected::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -1px;
  transition: opacity 0.2s ease-out;
  border-radius: var(--general-radius-8);
  background: linear-gradient(90deg, rgba(255, 73, 164, 0.5), rgba(176, 73, 255, 0.5));
}

.button {
  background-color: var(--earn-protocol-neutral-80);
  border-radius: var(--general-radius-8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}
