.tableWrapper {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 12px 0;
  }

  th {
    position: relative;
  }

  thead {
    color: var(--earn-protocol-secondary-40);
    font-size: 12px;
    font-weight: 600;

    tr {
      th {
        transition: color 0.2s ease-in-out;
        &:hover {
          color: var(--earn-protocol-secondary-60);
        }
      }
      th > * {
        text-align: right;
        justify-content: flex-end;
      }

      th:first-child > * {
        text-align: left;
        justify-content: flex-start;
      }
    }
  }

  tbody {
    width: 100%;
    tr {
      border-bottom: 1px solid var(--earn-protocol-neutral-70);
      font-size: 14px;
      font-weight: 600;
      color: var(--earn-protocol-secondary-100);
    }

    td > * {
      display: flex;
      text-align: right;
      justify-content: flex-end;

      span {
        text-align: right;
      }
    }

    td:first-child > * {
      text-align: left;
      justify-content: flex-start;
    }
  }

  .expandedRow {
    background-color: var(--earn-protocol-neutral-80);

    .details {
      padding: 0 10px;
      font-size: 14px;
    }
  }

  .customRow {
    height: fit-content;

    > td {
      padding: unset;
    }
  }
}
