.topContentGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--general-space-24);
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 745px) {
  .topContentGrid {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .topContentGrid {
    &:last-child {
      margin-right: 64px;
    }
  }
}

.leftHeaderRow {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.leftHeaderFiltersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}
@media (max-width: 743px) {
  .leftHeaderFiltersRow {
    flex-direction: column;
  }
}

.filtersGroup {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.noVaultsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 32px;
}

.pillWrapperGeneral {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 4px;
  background-color: var(--earn-protocol-neutral-85);
  border: none;
  border-radius: var(--general-radius-24);
}

.pillShapedWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: var(--general-space-8);
}

.pillShaped {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  background-color: var(--color-surface-lighter);
  border-radius: var(--radius-rounder);
  padding: 1px var(--spacing-space-x-small);
  letter-spacing: -0.2px;
}
