.topContentGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--general-space-24);
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 745px) {
  .topContentGrid {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .topContentGrid {
    &:last-child {
      margin-right: 64px;
    }
  }
}

.leftHeaderRow {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.leftHeaderFiltersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}
@media (max-width: 743px) {
  .leftHeaderFiltersRow {
    flex-direction: column;
  }
}

.filtersGroup {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.noVaultsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 32px;
}
