.timeframesWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    width: unset;
  }

  button {
    margin-left: var(--general-space-8);

    @media screen and (min-width: 768px) {
      margin-left: var(--general-space-32);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
