node_modules
.vscode
**/dist/**
.next/
i18next.d.ts
.yalc
coverage
.idea
.run
.swc
.vercel
setup.js
lambdas
cache
abis
artifacts
**/core-contracts/src/
**/.sst/**
**/.turbo/**
**/*.module.css.d.ts
sst-env.d.ts

packages/**/src/generated
sdk/**/src/generated
summerfi-api/**/src/generated
sdk/**/src/generated
packages/**/types/generated
apps/**/types/generated/*
armada-protocol/contracts/**/*
apps/earn-protocol/graphql/**/*
apps/earn-protocol-landing-page/graphql/**/*
