.mainContainer {
  position: relative;
  height: 100%;
}

.backgroundSimple {
  position: absolute;
  top: 0;
  max-width: none;
  pointer-events: none;
}

.appContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-m);
  padding-bottom: var(--space-xxl);
}
