.tokensGroupWrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.tokensGroupList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tokensGroupListItem {
  display: flex;
  position: relative;
  margin-right: -16px;
}
.tokensGroupListItem:last-child {
  margin-right: 0;
}
