.claimDelegateForm {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.claimDelegateForm .separator {
  margin: var(--general-space-24) 0;
  margin-bottom: var(--general-space-32);
  width: calc(100% + 48px);
  border-bottom: 1px solid var(--earn-protocol-neutral-100);
}
