.institutionPageHeaderWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-space-medium);
  margin-bottom: 52px;

  .leftWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-space-large);
  }

  .rightWrapper {
    display: flex;
    gap: 16px;
  }

  .rightWrapperItem {
    display: flex;
    flex-direction: column;
  }
}