.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: var(--general-space-16);
}

.description {
  margin-bottom: var(--general-space-16);
  color: var(--earn-protocol-secondary-60);
}

.list {
  list-style: disc;
  padding-left: var(--general-space-20);
}
.list > li {
  margin-bottom: var(--general-space-8);
}
.list > li::marker {
  background-color: var(--earn-protocol-primary-100);
  color: var(--earn-protocol-primary-100);
}
