.strategyGridPreviewBreadcrumbsWrapper {
  display: flex;
  flex-direction: column;
  a {
    margin-top: var(--general-space-12);
    color: var(--earn-protocol-primary-100);
  }
}

.strategyGridPreviewPositionWrapper {
  display: grid;
  grid-gap: var(--general-space-16);
  grid-template-columns: 1fr max(446px);
  margin-top: 20px;
  .leftBlock {
    display: grid;
    grid-gap: var(--general-space-16);
  }

  .rightBlockWrapper {
    height: 100%;

    .rightBlock {
      position: sticky;
      top: var(--general-space-16);
    }
  }
}

.strategyGridPreviewTopLeftWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: var(--general-space-16);
}
