.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.arrow > div {
  display: none !important;
}
@media (min-width: 532px) {
  .arrow {
    display: flex;
    background: var(--earn-protocol-neutral-80);
  }
  .arrow > div {
    display: inline-block !important;
  }
}
