.radioButtonWrapper {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 10px;
  width: 100%;
  border-radius: var(--radius-12);
  background-color: var(--color-neutral-10);
  border: 1px solid #E4EAED;
  box-shadow: none;
  transition: border 0.2s, box-shadow 0.2s;
  padding: var(--space-m) var(--space-xs) var(--space-m) var(--space-m);
  user-select: none;
}
.radioButtonWrapper:hover {
  border: 1px solid #afafaf;
}
.radioButtonWrapper.radioButtonWrapperChecked {
  border: 1px solid #25273D;
  box-shadow: var(--shadow-depth-2);
}

.radio {
  display: none;
}

.label {
  position: absolute;
  padding-left: 60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
