.countDown,
.countDownSmallGaps {
  display: flex;
}

.countDown {
  column-gap: var(--space-l);
}
@media (min-width: 532px) {
  .countDown {
    column-gap: 55px;
  }
}

.countDownSmallGaps {
  column-gap: var(--space-s);
}
@media (min-width: 532px) {
  .countDownSmallGaps {
    column-gap: var(--space-l);
  }
}
