.mainContainer {
  height: 100%;
}

.backgroundSimple {
  top: 0;
  position: absolute;
  pointer-events: none;
  max-width: none;
}

.appContainer {
  position: relative;
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 var(--space-m);
  z-index: 2;
}

.bubbles {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.bubbles .bubblesShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: inset 0 0 50px 50px var(--earn-protocol-neutral-100);
}

@media (max-width: 531px) {
  .bubbles .bubblesShadow {
    box-shadow: none;
  }
}

.bubbles .video {
  margin: 0 auto !important;
}

@media (max-width: 531px) {
  .bubbles {
    padding-top: 200px;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }

  .bubbles .video {
    transform: scale(2.2) rotate(90deg);
  }
}

.newsletterDescription {
  white-space: normal;
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-space-medium);
}