.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.yourVaultsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tvlHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
