.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.yourVaultsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tvlHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tvlChartLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px; /* should match the chart height */
}
