.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-small);
  padding: var(--spacing-space-medium) 0;
  margin-top: var(--general-space-20);
  margin-bottom: var(--general-space-12);
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--earn-protocol-secondary-100);
}
.status.submitting {
  border-radius: var(--radius-medium);
  padding: var(--general-space-4) var(--general-space-12);
  background-color: var(--earn-protocol-neutral-70);
}
.status.error {
  border-radius: var(--radius-medium);
  padding: var(--general-space-4) var(--general-space-12);
  background-color: var(--earn-protocol-critical-100);
}
.status.pending {
  border-radius: var(--radius-medium);
  padding: var(--general-space-4) var(--general-space-12);
  background-color: var(--earn-protocol-warning-50);
}

.footnote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--general-space-20) 0;
  padding-bottom: 0;
}

.description {
  color: var(--color-text-secondary);
  text-align: center;
  margin-top: -20px;
}

.networkIconsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--general-space-24);
}

.networkIcon {
  box-sizing: content-box;
  padding: var(--general-space-12);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--earn-protocol-neutral-70);
  position: relative;
}

.sumrIcon {
  position: absolute;
  top: var(--general-space-12);
  left: var(--general-space-12);
}

.joiner {
  width: var(--general-space-40);
  height: 1px;
  background-color: var(--earn-protocol-neutral-70);
}

.infoBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-12);
  margin-top: var(--general-space-8);
}
