.transactionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.transactionitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-background-secondary-disabled);
}