.radialBackground {
  width: 300px;
  height: 300px;

  @media (min-width: 768px) {
    width: 500px;
    height: 500px;
  }

  @media (min-width: 1024px) {
    width: 700px;
    height: 700px;
  }

  @media (min-width: 1280px) {
    width: 1000px;
    height: 1000px;
  }
}

.palmHidden {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}
