.cardWrapper {
  width: auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    min-width: 818px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.protocolInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: var(--space-m);
}

.protocolInfo {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-m);
}

.positionInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--space-m);
  & > div {
    display: flex;
    flex-direction: column;
  }
}

.heading {
  color: var(--color-neutral-80);
  margin-bottom: var(--space-xxs);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.footerAutomations {
  display: flex;
  flex-direction: column;
}