.networkDisplay {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sumrIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--earn-protocol-primary-100);
  border-radius: 50%;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount {
  color: var(--earn-protocol-secondary-40);
}

.details {
  display: flex;
  flex-direction: column;
}
