.tokenSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--general-space-8);
  border: 1px solid var(--earn-protocol-neutral-70);
  border-radius: var(--general-radius-8);
} 