.primaryLarge,
.primaryMedium,
.primarySmall,
.secondaryLarge,
.secondarySmall,
.neutralLarge,
.neutralSmall,
.colorful {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--general-space-8);
  padding: 0 var(--general-space-24);
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
  transition:
    border-color 200ms,
    color 200ms,
    background-color 200ms,
    box-shadow 200ms;
}

.primaryLarge,
.secondaryLarge,
.neutralLarge {
  height: 48px;
  min-width: 320px;
  font-size: 16px;
  border-radius: var(--radius-circle);
}

.primaryMedium {
  height: 38px;
  font-size: 14px;
  border-radius: var(--radius-circle);
  padding: 0 var(--general-space-16);
}

.primarySmall,
.secondarySmall,
.neutralSmall {
  height: 36px;
  font-size: 12px;
  border-radius: var(--radius-roundish);
}

.primaryLarge,
.primaryMedium,
.primarySmall {
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

  &:enabled:hover {
    color: var(--color-text-primary-hover);
    background-color: var(--color-background-primary-hover);
  }

  &:disabled {
    background-color: var(--color-background-primary-disabled);
    color: var(--color-text-primary-disabled);
    cursor: not-allowed;
  }
}

.secondaryLarge,
.secondarySmall {
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);

  &:enabled:hover {
    color: var(--color-text-secondary-hover);
    background-color: var(--color-background-secondary-hover);
  }

  &:disabled {
    background-color: var(--color-background-secondary-disabled);
    color: var(--color-text-secondary-disabled);
    cursor: not-allowed;
  }

  &Active {
    border-color: var(--earn-protocol-neutral-60);
    color: var(--earn-protocol-secondary-100);
  }
}

.neutralLarge,
.neutralSmall {
  color: var(--color-text-primary);
  background-color: var(--color-text-primary);
  border-color: var(--color-text-secondary);

  &:enabled:hover {
    border-color: var(--color-neutral-70);
  }

  &:enabled:active {
    border-color: var(--color-interactive-100);
  }

  &:disabled {
    color: var(--color-text-primary);
    cursor: not-allowed;
  }
}

.colorful {
  font-size: 12px;
  width: 100%;
  border-radius: var(--general-radius-8);
  background: linear-gradient(270.13deg,
      rgba(0, 125, 163, 0.05) 0.02%,
      rgba(231, 167, 127, 0.05) 56.92%,
      rgba(233, 112, 71, 0.05) 98.44%);

  >span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include media('>s') {
    height: 28px;
  }
}

.unstyled,
.unstyled:focus {
  all: unset;
  outline: revert;
  cursor: pointer;
}

.unstyled:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}