.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin-bottom: var(--general-space-40);
}
.wrapper .dialWrapper {
  margin: var(--general-space-24) 0;
}
