.container {
  // margin: 0 var(--spacing-space-x-large);
  max-width: 95%;
  margin: 0 auto;

  @include media('>xl') {
    margin: 0;
  }
}

.sumrWhatIsSumrTokenWrapper {
  margin-top: var(--general-space-128);
  flex-direction: column;

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--general-space-64);
    padding: var(--general-space-8);

    @include media('>m') {
      padding: var(--general-space-32);
      grid-template-columns: 1fr;
    }

    @include media('>l') {
      grid-template-columns: auto 1fr;
    }

    @include media('>xl') {
      grid-template-columns: 1fr 1fr;
      gap: var(--general-space-64);
    }

    .textual {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      max-width: 513px;
      flex: 1;
      margin-top: var(--general-space-12);

      @media (min-width: 768px) {
        margin: 0 70px;
      }

      .actionable {
        min-width: unset;
        gap: 12px;
      }
    }
  }
}
