.sumrMultipleWaysToEarnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--general-space-64);
  margin-top: var(--general-space-128);
}
.sumrMultipleWaysToEarnWrapper .title {
  padding: 0 var(--general-space-16);
}
.sumrMultipleWaysToEarnWrapper .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--general-space-16);
}
.sumrMultipleWaysToEarnWrapper .boxes .bottomBoxLeftGradient,
.sumrMultipleWaysToEarnWrapper .boxes .bottomBoxRightGradient {
  display: flex;
  flex-direction: column;
  padding: var(--general-space-16) var(--general-space-16) 0 var(--general-space-16);
  flex: 1;
  min-width: 300px;
  height: unset;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(28, 28, 28, 0.2) 0%, rgba(175, 20, 92, 0.1) 79.63%, rgba(190, 0, 89, 0.2) 100%);
  gap: var(--general-space-40);
}
@media (min-width: 768px) {
  .sumrMultipleWaysToEarnWrapper .boxes .bottomBoxLeftGradient,
  .sumrMultipleWaysToEarnWrapper .boxes .bottomBoxRightGradient {
    padding: var(--general-space-24) var(--general-space-24) 0 var(--general-space-24);
  }
}
.sumrMultipleWaysToEarnWrapper .boxes .bottomBoxLeftGradient .textual,
.sumrMultipleWaysToEarnWrapper .boxes .bottomBoxRightGradient .textual {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-4);
  margin-bottom: var(--general-space-16);
}
@media (min-width: 768px) {
  .sumrMultipleWaysToEarnWrapper .boxes .bottomBoxLeftGradient .textual,
  .sumrMultipleWaysToEarnWrapper .boxes .bottomBoxRightGradient .textual {
    margin-bottom: var(--general-space-40);
  }
}
