.sumrRaysRewadsWrapper {
  margin-top: var(--general-space-128);
}
.sumrRaysRewadsWrapper > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sumrRaysRewadsWrapper .sumrRaysRewardsContent {
  display: flex;
  flex-direction: column;
}
.sumrRaysRewadsWrapper .sumrRaysRewardsContent .customCard {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--general-space-24);
  padding: var(--general-space-32);
  width: fit-content;
}
@media (min-width: 532px) {
  .sumrRaysRewadsWrapper .sumrRaysRewardsContent .customCard {
    padding: var(--general-space-40);
  }
}
@media (min-width: 1026px) {
  .sumrRaysRewadsWrapper .sumrRaysRewardsContent .customCard {
    padding: var(--general-space-56);
  }
}
.sumrRaysRewadsWrapper .sumrRaysRewardsContent .customCard > h5 {
  margin-top: var(--general-space-24);
  margin-bottom: var(--general-space-8);
}
.sumrRaysRewadsWrapper .sumrRaysRewardsContent .customCard > p {
  max-width: 304px;
}
.sumrRaysRewadsWrapper .sumrRaysRewardsContent .actionableWrapper {
  display: flex;
  align-items: center;
  gap: var(--general-space-16);
}
.sumrRaysRewadsWrapper .sumrRaysRewardsContent .actionableWrapper a > button {
  min-width: unset;
  height: 38px;
  font-size: 14px;
}
