.sumrRaysRewadsWrapper {
  margin-top: var(--general-space-128);

  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sumrRaysRewardsContent {
    display: flex;
    flex-direction: column;

    .customCard {
      display: flex;
      flex-direction: column;
      margin-bottom: var(--general-space-24);
      padding: var(--general-space-32);
      width: fit-content;

      @include media('>s') {
        padding: var(--general-space-40);
      }

      @include media('>l') {
        padding: var(--general-space-56);
      }

      > h5 {
        margin-top: var(--general-space-24);
        margin-bottom: var(--general-space-8);
      }

      > p {
        max-width: 304px;
      }
    }

    .actionableWrapper {
      display: flex;
      align-items: center;
      gap: var(--general-space-16);

      a > button {
        min-width: unset;
        height: 38px;
        font-size: 14px;
      }
    }
  }
}
