.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: var(--general-space-16) 0;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--general-space-16);
  width: 100%;
  margin-top: var(--general-space-24);

  .button {
    min-width: unset;
    flex: 1;
  }
}
