.switchToL2Wrapper {
  display: flex;
  flex-direction: column;
  max-width: 398px;
  margin-bottom: var(--general-space-24);
}
.switchToL2Wrapper .buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-8);
  margin-top: var(--general-space-16);
}
