@keyframes scale {
  0% {
    transform: scale(0.6) translateY(-10);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
.animateScaleOn {
  position: relative;
  animation: scale 0.6s ease-in-out;
}

.animateScaleOff {
  position: relative;
  animation: scale 0.6s ease-in-out reverse;
}
