.panelUserAdminWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-large);

  .trashButton {
    color: var(--earn-protocol-primary-100);

    &:hover {
      opacity: 0.6;
      transition: opacity 0.2s ease-in-out;
    }
  }

  .tableCellAddress {
    font-family: monospace;
    font-weight: 500;
    user-select: auto;
  }

  .tableWrapper {
    overflow-x: auto;

    .table {
      min-width: 600px;
    }
  }
}

.titleWithInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-space-medium);
  width: 100%;
}

.inputFilter {
  width: 260px;
  input {
    padding: var(--spacing-space-small) var(--spacing-space-medium);
    font-size: 14px;
    background-color: var(--earn-protocol-neutral-95);
  }
}

.currentUser {
  color: var(--earn-protocol-success-50);
}
