.panelUserAdminWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-large);

  .trashButton {
    color: var(--earn-protocol-primary-100);

    &:hover {
      opacity: 0.6;
      transition: opacity 0.2s ease-in-out;
    }
  }

  .tableCellAddress {
    font-family: monospace;
    font-weight: 500;
    user-select: auto;
  }



  .tableWrapper {
    overflow-x: auto;

    .table {
      min-width: 600px;
    }
  }
}