.iconWrapperActive,
.iconWrapperNotActive {
  position: relative;
  padding: var(--space-xxs);
  border-radius: var(--radius-circle);
}

.iconWrapperActive {
  background-color: var(--color-success-10);
  color: var(--color-success-100);
}

.iconWrapperNotActive {
  background-color: var(--color-secondary-60);
  color: var(--color-primary-60);
}
