.wrapper {
  min-width: 272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconWithSymbolWrapper {
  display: flex;
  align-items: center;
  gap: var(--general-space-8);
  position: relative;
}

.networkIconWrapper {
  position: absolute;
  top: -6px;
  left: -2px;
}

.customVaultTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 12px;
}
