.marketingPointsListHeaderWrapper {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: var(--spacing-space-small);
  margin-bottom: var(--general-space-32);
}
@media (min-width: 532px) {
  .marketingPointsListHeaderWrapper {
    max-width: 80%;
    padding: 0;
  }
}
@media (min-width: 1026px) {
  .marketingPointsListHeaderWrapper {
    max-width: 100%;
  }
}

.marketingPointsListDetailsWrapper {
  display: grid;
  gap: var(--general-space-32);
  grid-template-columns: 1fr;
}
@media (min-width: 532px) {
  .marketingPointsListDetailsWrapper {
    grid-template-columns: 1fr;
    padding: var(--spacing-space-x-large) var(--spacing-space-x-large) 0;
  }
}
@media (min-width: 1280px) {
  .marketingPointsListDetailsWrapper {
    grid-template-columns: 1fr 2fr;
    padding: var(--spacing-space-2x-large) var(--spacing-space-2x-large) 0;
  }
}

.marketingPointsListDetailsButtons {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.marketingPointsListDetailsButtons::-webkit-scrollbar {
  display: none;
}
@media (min-width: 532px) {
  .marketingPointsListDetailsButtons {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .marketingPointsListDetailsButtons {
    flex-direction: column;
    justify-content: right;
    overflow-x: visible;
  }
}

.marketingPointsListDetailsButton {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #2b2b2b;
  padding: 20px;
  transition: border-right-color 0.2s ease;
  text-align: right;
  margin-right: 1px;
  text-wrap: nowrap;
  flex-shrink: 0;
}
.marketingPointsListDetailsButton:hover {
  border-bottom: 1px solid #494949;
}
@media (min-width: 1280px) {
  .marketingPointsListDetailsButton {
    border-right: 1px solid #2b2b2b;
    border-bottom: none;
    text-wrap: initial;
  }
  .marketingPointsListDetailsButton:hover {
    border-right: 1px solid #494949;
    border-bottom: none;
  }
}
.marketingPointsListDetailsButton > span {
  color: var(--color-text-primary-disabled);
}

.marketingPointsListDetailsButtonActive {
  border-bottom: 2px solid #a859fa;
  margin-right: 0px;
}
.marketingPointsListDetailsButtonActive:hover {
  border-bottom: 2px solid #a859fa;
}
@media (min-width: 1280px) {
  .marketingPointsListDetailsButtonActive {
    border-right: 2px solid #a859fa;
    border-bottom: none;
  }
  .marketingPointsListDetailsButtonActive:hover {
    border-right: 2px solid #a859fa;
    border-bottom: none;
  }
}

@keyframes fadeIn {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: 10px;
    opacity: 0;
  }
}
.marketingPointsListDetailsContent {
  position: relative;
  animation: fadeIn 0.2s ease forwards;
}
.marketingPointsListDetailsContentFadingOut {
  animation: fadeOut 0.2s ease forwards;
}
