.mainButtonWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  padding: 0 var(--general-space-12) 0 6px;

}

.logoutButton {
  width: 100%;
}

.walletAddressPopup {
  font-family: monospace;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 24px;

  &>p {
    color: var(--earn-protocol-primary-100);
  }
}

.popupDivider {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  margin: 15px 0 15px
}

.popupWrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--general-space-8);
  padding: var(--general-space-16);

}

.mobileCopyLogoutButtons {
  display: none;

  @include media('<=s') {
    display: flex;
    flex-direction: row;
  }
}

.wrapper {
  color: var(--color-neutral-10);
}