.navigationActionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--general-space-8);

  @include media('<=l') {
    display: none;
  }
}

.walletButtonMock {
  min-height: auto;
  line-height: 22px;
  height: 40px;
  min-width: 40px;
  width: auto;
}

.mobileMenuButton {
  display: none;

  .gradientOuterCircle {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0;
    background-color: var(--earn-protocol-neutral-100);
  }

  .gradientInnerCircle {
    background-image: var(--gradient-earn-protocol-dark);
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include media('<=l') {
    display: flex;
    align-items: center;
    gap: var(--general-space-8);
  }
}

.summerProButton {
  color: var(--color-text-primary-disabled);
  margin-right: var(--general-space-24);
  font-size: 14px;

  &:hover {
    color: var(--color-text-primary);
  }
}