.navigationMenu {
  display: flex;
  flex-direction: column;
  padding-left: var(--general-space-32);
  justify-content: center;
  width: 100%;

  @include media('<=l') {
    display: none;
  }
}

.navigationMenuLinks {
  list-style: none;
  display: flex;
  flex-direction: row;

  li {
    position: relative;
    cursor: pointer;
    margin: 0 var(--general-space-32);

    >span {
      padding: var(--general-space-16) 0;
    }

    img {
      opacity: 0.5;
      transform: rotate3d(1, 0, 0, 0deg);
      transition:
        opacity 0.2s,
        transform 0.2s;
    }

    span.active,
    a.active {
      color: var(--color-text-primary);

      img {
        opacity: 1;
      }
    }

    &:hover {

      span,
      a {
        color: var(--color-text-primary);

        img {
          opacity: 1;
          transform: rotate3d(1, 0, 0, 180deg);
        }
      }

      .dropdownContentWrapper {
        pointer-events: all;
        opacity: 1;
        top: var(--general-space-16);
      }
    }
  }

  li>span,
  li>a {
    font-size: 16px;
    font-weight: 600;
    line-height: var(--general-space-24);
    color: var(--earn-protocol-secondary-40);
    transition: opacity 0.2s;
  }

  li>.dropdownContentWrapper {
    pointer-events: none;
    position: absolute;
    width: max-content;
    left: -50px;
    opacity: 0;
    transition:
      top 0.2s,
      opacity 0.2s;
    top: 0;
    padding-top: 30px;
    z-index: 5;

    .dropdownContent {
      padding: var(--general-space-24) var(--general-space-20) var(--general-space-8);
      border-radius: var(--general-radius-16);
      background-color: var(--color-surface-light);
      box-shadow: var(--shadow-depth-1);
    }
  }
}