.wrapper {
  padding: 0 var(--general-space-24);
  margin-bottom: var(--general-space-56);
  
  @include media('>s') {
    padding: 0 var(--general-space-32);
  }

  @include media('>s') {
    padding: 0 var(--general-space-32);
  }

  @include media('>s') {
    padding: 0 var(--general-space-32);
  }

  @include media('>xl') {
    padding: 0 var(--general-space-64);
  }
}

.noNavMargin {
  margin-bottom: 0;
}

.container {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-items: flex-end;
  max-width: 1408px;
  padding: var(--general-space-24) 0;
  margin: 0 auto;

  @include media('>s') {
    grid-template-columns: auto 1fr auto;
    padding: var(--general-space-32) 0;
  }
}

.logoWrapper {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-right: auto;
  transition: opacity 0.3s;

  img {
    height: 22px;
    display: none;
  }

  .logo {
    width: 129px;

    @include media('>s') {
      display: inline;
    }
  }

  .logoSmall {
    width: 25px;

    @include media('<=s') {
      display: inline;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}