.navigationItemsWrapper {
  display: flex;
  flex-direction: column;

  @include media("<=l") {
    width: 100%;
  }

  .navigationItemsItem {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--general-space-12);
    padding: var(--general-space-12);
    border-radius: var(--general-radius-16);
    background-color: transparent;
    transition: background-color 0.2s;

    @include media("<=l") {
      width: 100%;
    }

    &:hover {
      background-color: var(--color-surface-subtler);
    }

    .navigationItemsIconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--general-space-32);
      height: var(--general-space-32);
      background-color: var(--color-surface-subtler);
      border-radius: var(--radius-circle);
      margin-right: var(--general-space-12);

      img {
        opacity: 1;
        transform: none;
      }
    }
  }
}

.activeLink {
  color: var(--earn-protocol-primary-100);
}

.inactiveLink {
  color: var(--earn-protocol-secondary-100),
}