.wrapper {
  padding: var(--general-space-16);
}

.container {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-items: flex-end;
  max-width: 1408px;
  margin: var(--general-space-24) auto var(--general-space-64);

  @include media('>s') {
    grid-template-columns: auto auto;
  }

  @include media('>l') {
    grid-template-columns: auto auto auto;
  }

  @include media('>xl') {
    grid-template-columns: auto 1fr auto;
  }
}

.logoWrapper {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-right: auto;
  transition: opacity 0.3s;

  img {
    height: 22px;
    display: none;
  }

  .logo {
    width: 129px;

    @include media('>s') {
      display: inline;
    }
  }

  .logoSmall {
    width: 25px;

    @include media('<=s') {
      display: inline;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}