.navigationMenu {
  display: none;
  flex-direction: column;
  padding-left: var(--general-space-20);
  justify-content: center;
  width: 100%;
}
@media (min-width: 1279px) {
  .navigationMenu {
    padding-left: var(--general-space-32);
  }
}
@media (min-width: 744px) {
  .navigationMenu {
    display: flex;
  }
}

.navigationMenuLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: var(--general-space-40);
  margin-left: var(--general-space-20);
}
@media (min-width: 1279px) {
  .navigationMenuLinks {
    gap: 48px;
  }
}
.navigationMenuLinks li {
  position: relative;
  cursor: pointer;
}
.navigationMenuLinks li > span {
  padding: var(--general-space-16) 0;
}
.navigationMenuLinks li img {
  opacity: 0.5;
  transform: rotate3d(1, 0, 0, 0deg);
  transition:
    opacity 0.2s,
    transform 0.2s;
}
.navigationMenuLinks li.disabled,
.navigationMenuLinks li span.disabled,
.navigationMenuLinks li a.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.navigationMenuLinks li.disabled img,
.navigationMenuLinks li span.disabled img,
.navigationMenuLinks li a.disabled img {
  pointer-events: none;
  opacity: 0.5;
}
.navigationMenuLinks li span.active,
.navigationMenuLinks li a.active {
  color: var(--color-text-primary);
}
.navigationMenuLinks li span.active img,
.navigationMenuLinks li a.active img {
  opacity: 1;
}
.navigationMenuLinks li span > div > svg {
  stroke: var(--earn-protocol-secondary-40);
  transition: all 0.2s;
}
.navigationMenuLinks li:hover span > div > svg {
  stroke: #fff;
  transform: rotate3d(1, 0, 0, 180deg);
}
.navigationMenuLinks li:hover span,
.navigationMenuLinks li:hover a {
  color: var(--color-text-primary);
}
.navigationMenuLinks li:hover span img,
.navigationMenuLinks li:hover a img {
  opacity: 1;
  transform: rotate3d(1, 0, 0, 180deg);
}
.navigationMenuLinks li:hover .dropdownContentWrapper {
  pointer-events: all;
  opacity: 1;
  top: var(--general-space-16);
  max-width: 400px;
}
@media (min-width: 1450px) {
  .navigationMenuLinks li:hover .dropdownContentWrapper {
    max-width: unset;
  }
}
.navigationMenuLinks li > span,
.navigationMenuLinks li > a {
  font-size: var(--font-size-p2);
  font-weight: 600;
  line-height: var(--general-space-24);
  color: var(--earn-protocol-secondary-40);
  transition: opacity 0.2s;
}
.navigationMenuLinks li > .dropdownContentWrapper {
  pointer-events: none;
  position: absolute;
  width: max-content;
  max-width: 400px;
  left: -50px;
  opacity: 0;
  transition:
    top 0.2s,
    opacity 0.2s;
  padding-top: 30px;
  top: 0;
  z-index: 51;
}
@media (min-width: 1450px) {
  .navigationMenuLinks li > .dropdownContentWrapper {
    max-width: unset;
    width: max-content;
  }
}
.navigationMenuLinks li > .dropdownContentWrapper .dropdownContent {
  padding: var(--general-space-12);
  border-radius: var(--general-radius-16);
  background-color: var(--color-surface-light);
  box-shadow: var(--shadow-depth-1);
}
