.skeletonLine {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #2b2b2b;
}
.skeletonLine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background-image: linear-gradient(90deg, #2b2b2b 0%, #393939 33.3%, #393939 66.6%, #2b2b2b 100%);
  transform: translateX(-100%);
  animation: gradient 2.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes gradient {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(33.3%);
  }
}
