.claimPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--general-space-16);
  padding: 0;
  max-width: 1072px;
  width: 100%;
}
@media (min-width: 1026px) {
  .claimPageWrapper {
    padding: 0;
  }
}
