.raysCountWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
  margin-right: var(--space-m);
  color: var(--color-text-primary);
  @include media('<=s') {
    margin-right: var(--space-s);
  }
}