.Icon {
  box-sizing: border-box;
  margin: 0px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 32px;
  background-color: var(--color-neutral-20);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  > img {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    height: auto;
  }
}