.tagButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 24px;
  border-radius: 50px;
  border: 1px solid #542a3f;
  background-color: #19110e;
  color: #ba5d8b;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0;
  cursor: not-allowed;
  text-align: center;
  outline: none;
  white-space: nowrap;
}

.tagButton:disabled {
  cursor: not-allowed;
}