.notConnectedHeader {
  margin-top: var(--space-xxl);
}

.connectedTitle {
  text-align: center;
  @include media('<=s') {
    font-size: 44px;
  }
}

.earning {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
  @include media('<=s') {
    text-align: center;
  }
}