.claimDelegateClaimStepWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .networkWrapper {
    position: absolute;
    top: var(--general-space-12);
    left: var(--general-space-16);
    color: var(--earn-protocol-success-100);
    padding: var(--general-space-4) var(--general-space-8);
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: var(--general-space-8);
    border-radius: var(--radius-small);
  }

  .alertWrapper {
    width: 100%;
    max-width: 560px;
    margin-top: var(--general-space-16);

    .alertContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      

      @include media('>m') {
        gap: var(--general-space-32);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .errorWrapper {
    position: relative;
    flex-direction: column;
    gap: 6;
    align-items: center;
    max-width: 560px;
    margin-bottom: var(--general-space-16);
  }

  .ctaWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: var(--general-space-8);
    margin-bottom: var(--general-space-4);
  }

  .cardWrapper {
    position: relative;
    flex-direction: column;
    gap: 6;
    align-items: center;
    max-width: 560px;
    margin-bottom: var(--general-space-16);
    border: 1px solid transparent;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: var(--earn-protocol-neutral-85);
      }
    }

    .chainLabel {
      color: var(--earn-protocol-secondary-60);
    }

    .valueWithIcon {
      display: flex;
      align-items: center;
      gap: var(--general-space-16);
      margin-top: var(--general-space-32);

      .container {
        display: flex;
        align-items: center;
        gap: var(--general-space-4);
        position: relative;
      }

      .usdValue {
        display: none;
        color: var(--earn-protocol-secondary-40);

        @include media('>l') {
          display: block;
        }
      }
    }

    &:hover {
      background-color: var(--earn-protocol-neutral-80);
      transition: background-color 0.3s ease;
    }
  }

  .footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--general-space-16);
    margin-top: var(--general-space-16);
    margin-bottom: var(--general-space-8);
  }

  .mainActionsGroup {
    display: flex;
    gap: var(--general-space-16);
  }

  .bridgeWrapper {
    display: flex;
    color: var(--earn-protocol-secondary-60);
    width: 100%;
    max-width: 560px;
    justify-content: center;
    padding: var(--general-space-16) 0;
  }

  .valueWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--general-space-8);
    align-items: baseline;
  }

  .walletBalanceWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--general-space-8);
    align-items: baseline;
    margin-bottom: var(--general-space-8);
  }

  .tagWrapper {
    position: absolute;
    top: var(--general-space-12);
    right: var(--general-space-16);
    color: var(--earn-protocol-success-100);
    padding: var(--general-space-4) var(--general-space-8);
    display: flex;
    align-items: center;
    gap: var(--general-space-8);
    border-radius: var(--radius-small);
    display: none;

    &.bridge {
      background-color: var(--earn-protocol-primary-10);
      color: var(--earn-protocol-primary-100);
    }

    &.claim {
      background-color: var(--earn-protocol-success-10);
      color: var(--earn-protocol-success-100);

    }    

    @include media('>m') {
      display: block;
    }
  }

  .bridgeButtonWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--general-space-16);
  }
}
