.beachClubBoatPointsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--general-space-32);

  .textualWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 598px;
    gap: var(--general-space-16);
  }
}
