@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appearAnimation {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.animateSpin {
  animation: spinAnimation 1s linear infinite;
}

.animateSpinFast {
  animation: spinAnimation 0.4s linear infinite;
}

.animateSpinAppear {
  animation: appearAnimation 2s cubic-bezier(0, 1.53, 0.23, 1), spinAnimation 1s linear infinite;
}

.animateSpinFastAppear {
  animation: appearAnimation 2s cubic-bezier(0, 1.53, 0.23, 1), spinAnimation 0.4s linear infinite;
}
