.wrapper {
  width: 353px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-l);
  width: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-m);
}

.tooltipWrapper {
  display: flex;
  flex-direction: column;
}
