.box {
  display: flex;
  background-color: var(--color-surface-subtle);
  padding: var(--general-space-20);
  border-radius: var(--radius-roundish);
}
@media (min-width: 532px) {
  .box {
    padding: var(--general-space-24);
  }
}
.box.light {
  background-color: var(--color-surface-subtler);
}
