.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient-summer-fi-lightest);
  column-gap: 100px;
  row-gap: var(--space-s);
  padding: var(--space-m);
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xxs);
}
