.ButtonWrapper {
  position: relative;
  user-select: none;
}

.ButtonStyles {
  background-color: var(--color-neutral-10);
  padding: 4px;
  height: 40px;
  box-shadow: var(--shadow-depth-1);
}

.CopyButton {
  cursor: pointer;
  color: var(--color-primary-30);
  transition: color 0.1s ease-in-out;
  &:hover {
    color: var(--color-primary-100);
  }
}

.Icon {
  box-sizing: border-box;
  margin: 0px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: var(--radius-32);
  background-color: var(--color-neutral-20);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  > img {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    height: auto;
  }
}

.InfoBox {
  position: absolute;
  top: 100%;
  margin-top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-neutral-10);
  box-shadow: var(--shadow-depth-1);
  border-radius: var(--radius-24);
  padding: var(--space-xl);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out, margin-top 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  min-width: 380px;
  max-width: 380px;
  &Active {
    pointer-events: all;
    opacity: 1;
    margin-top: 10px;
  }
  .WalletAccount {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .WalletAccountInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .BalanceData {
    margin: 0 20px;
    word-break: keep-all;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}