.shadow {
  box-shadow: var(--shadow-depth-1);
}

.imgWrapper {
  margin: var(--space-m);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: var(--space-m);
}

.contentTextual {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-xl);
  row-gap: var(--space-xxs);
  max-width: 70%;
}

.contentDescription {
  color: var(--color-primary-60);
}
