.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconWrapper {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -55%);
}

.default {
  border: var(--border-1);
  padding: var(--space-m);
  border-radius: var(--radius-32);
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}
.default:hover {
  border-color: var(--color-neutral-70);
}
.default::placeholder {
  color: var(--color-primary-30);
  opacity: 1;
}

.withIconOffset {
  padding-left: 40px;
}
