.panelNavigationWrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  .itemsList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-space-x-large);
    align-items: flex-start;
    margin-bottom: var(--spacing-space-x-large);

    .buttonText {
      cursor: pointer;
      color: var(--color-text-secondary-disabled);

      &:hover {
        color: var(--color-text-primary-hover);
        transition: color 0.2s ease-in-out;
      }
    }

    .activeButtonText {
      color: var(--color-text-primary);
    }
  }

  .navigationWrapper {
    padding: unset;
    margin-bottom: var(--spacing-space-x-large);

    .navigationList {
      margin-top: var(--spacing-space-x-large);
      margin-bottom: 0;
      padding-left: var(--spacing-space-medium);
    }
  }

  .navigationButton {
    padding: 0;
  }

  .panelNavigationSeparator {
    height: 1px;
    width: 100%;
    background-color: var(--color-border);
    margin-bottom: var(--spacing-space-x-large);
  }
}
