.migrationFormContentWrapper {
  display: flex;
  gap: var(--general-space-8);
  flex-direction: column;
  margin-bottom: var(--general-space-12);
}
.migrationFormContentWrapper .migrationMiniCardWrapper {
  display: flex;
  gap: var(--general-space-8);
  margin-top: var(--general-space-24);
  position: relative;
}
.migrationFormContentWrapper .migrationMiniCardWrapper .migrationMiniCardIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-earn-protocol-dark);
  border-radius: 50%;
}
