.dashboardVaultsPanelWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-medium);
  width: 100%;

  .dropdownWrapper {
    width: 100%;

    .dropdownSelected {
      width: 100%;
    }
  }
}
