.wrapper {
  color: var(--earn-protocol-secondary-100);
}

.addressOnlyWrapper {
  display: flex;
  align-items: center;
}

.addressOnlyButton {
  padding: var(--general-space-4) var(--general-space-8);
  height: auto;
  min-height: unset;
  display: flex;
  position: relative;
  align-items: center;
}

.actionsOnlyWrapper {
  display: flex;
  gap: var(--general-space-8);
  align-items: center;
}

.mainButtonWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  padding: 0 var(--general-space-12) 0 6px;
}

.mainActionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--general-space-12);
}

.popupWrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--general-space-8);
  padding: var(--general-space-16);
}

.walletAddressPopup {
  font-family: monospace;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 24px;
}

.walletAddressPopup>p {
  color: var(--earn-protocol-primary-100);
}

.popupDivider {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  margin: 15px 0 15px;
}

.copyButton {
  padding-bottom: 0;
}

.logoutButton {
  width: 100%;
}

.mobileCopyLogoutButtons {
  display: flex;
  flex-direction: row;
  gap: var(--general-space-12);
  margin-top: var(--general-space-8);
}

@media (min-width: 745px) {
  .mobileCopyLogoutButtons {
    display: none;
  }
}

.copiedNotification {
  display: flex;
  align-items: center;
  gap: var(--general-space-4);
  height: 16px;
  pointer-events: none;
  opacity: 1;
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 744px) {
  .addressOnlyButton {
    font-size: 0.85rem;
  }

  .mainButtonWrapper {
    width: auto;
    min-width: 140px;
  }
}