.cardAnimateGradientBorder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background: var(--gradient-earn-protocol-light);
  background-size: 100% 100%;
  animation: border-fade 1s ease-in-out;
  opacity: 0;
  z-index: -1;
}

@keyframes border-fade {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  50% {
    opacity: 1;
  }
}
