.beachClubTrackReferralsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-20);
  width: 100%;
  background: var(--earn-protocol-neutral-95);
  /* padding: 0 var(--general-space-16); */

  .buttons {
    display: flex;
    gap: var(--general-space-16);

    .tab,
    .tabActive {
      height: 31px;
      font-size: 12px;
    }

    .tab {
      background: unset;
    }

    .tabActive {
      transition: all 0.3s ease-in-out;
    }
  }
}
