.SumrConversionAndTotalSupplyWrapper {
  display: flex;
  gap: var(--general-space-24);
  flex-wrap: wrap;
  margin-top: 90px;
}
.SumrConversionAndTotalSupplyWrapper .customCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(308.13deg, rgba(28, 28, 28, 0.2) 1.53%, rgba(175, 20, 92, 0.1) 50.19%, rgba(190, 0, 89, 0.2) 98.85%);
}
@media (min-width: 768px) {
  .SumrConversionAndTotalSupplyWrapper .customCard {
    flex: 1;
    min-width: 541px;
  }
}
