.wrapper {
  position: fixed;
  bottom: var(--space-xxl);
  right: var(--space-xxl);
  box-shadow: var(--shadow-depth-1);
  border-radius: var(--radius-16);
  user-select: none;
  background-color: var(--color-neutral-10);
  transition: box-shadow 0.2s ease-in-out;
  max-height: 80vh;
}
.wrapper:hover {
  box-shadow: var(--shadow-depth-2);
}
@media (max-width: 531px) {
  .wrapper {
    position: static;
    margin-top: var(--space-xxl);
  }
}

.clickableHeader {
  cursor: pointer;
  padding: var(--space-l);
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapperTitle {
  width: 100%;
  max-width: 360px;
  margin-right: var(--space-xxxl);
}
@media (max-width: 531px) {
  .wrapperTitle {
    margin-right: var(--space-l);
  }
}

.wrapperTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xxs);
  padding: var(--space-xs) var(--space-m);
  background-color: var(--color-neutral-30);
  border-radius: var(--radius-32);
  color: var(--color-primary-60);
  margin-right: var(--space-xxs);
}

.topClimbersListWrapper {
  overflow-y: hidden;
  transition: max-height 0.2s ease-in-out;
}

.topClimbersListRankRow {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
  margin-bottom: var(--space-l);
}
.topClimbersListRankRow:hover span.rankChangeInfo {
  opacity: 0.5;
}

span.rankChangeInfo {
  transition: opacity 0.2s ease-in-out;
  margin-right: var(--space-l);
}

.topClimbersListRankRowLink {
  width: 100%;
  color: var(--color-neutral-80);
}

.topClimbersListRank {
  width: 15%;
  justify-content: space-between;
  margin-right: var(--space-m);
  color: var(--color-primary-100);
}

.topClimbersListRankChangeInfo {
  word-break: keep-all;
  white-space: nowrap;
  opacity: 0;
  text-align: right;
}

.topClimbersListRankChange {
  white-space: nowrap;
  color: var(--color-success-100);
  stroke: var(--color-success-100);
}
