.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  padding: var(--spacing-space-2x-large) var(--spacing-space-4x-large);
  text-align: center;
  margin-bottom: var(--spacing-space-3x-large);
}

.pageHeader>h1 {
  margin-bottom: var(--general-space-32);
}

.pageHeaderDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeaderDetails>p {
  color: var(--color-text-primary-hover);
  margin-bottom: 12px;
}

.pageHeaderDetails>span {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-space-x-large);
}

.pageHeaderDetails>button {
  min-width: min-content;
  padding-left: 30px;
  padding-right: 50px;
}

.pageHeaderDetails>button span {
  color: var(--earn-protocol-secondary-100);
}

.pageSubHeader {
  text-align: center;
  padding: 0 var(--spacing-space-3x-large);
  margin: 0 var(--spacing-space-x-large);
}

.pageSubHeader>h2 {
  margin-bottom: var(--spacing-space-medium);
}

.pageSubHeader>p {
  color: var(--color-text-secondary);
}