.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-space-4x-large);
  text-align: center;
  min-height: calc(calc(100vh - calc(102px + 56px)) - calc(calc(102px + 56px) / 2));
  margin-bottom: calc(calc(102px + 56px) / 2);
  /** Minus the header height + margin, will probably break when nav is updated, so keep in mind */
}

@media (max-width: 531px) {
  .pageHeader {
    padding: 0 var(--spacing-space-large);
    min-height: calc(100vh - calc(84px + 56px));
  }
}

.pageHeader>h1 {
  margin-bottom: var(--general-space-32);
}

.pageHeaderDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeaderDetails>p {
  color: var(--color-text-primary-hover);
  margin-bottom: 12px;
}

.pageHeaderDetails>span {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-space-x-large);
}

.pageHeaderDetails>button {
  min-width: min-content;
  padding-left: 30px;
  padding-right: 50px;
}

.pageHeaderDetails>button span {
  color: var(--earn-protocol-secondary-100);
}

.pageSubHeader {
  text-align: center;
  padding: 0 var(--spacing-space-3x-large);
  margin: 0 var(--spacing-space-x-large) var(--spacing-space-2x-large) var(--spacing-space-x-large);
}

@media (max-width: 531px) {
  .pageSubHeader {
    padding: 0 var(--spacing-space-medium);
  }
}


.pageSubHeader>h2 {
  margin-bottom: var(--spacing-space-medium);
}

.pageSubHeader>p {
  color: var(--color-text-secondary);
}

.promoBlocks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-large);
}

.onboardingBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-space-2x-large);
  margin: var(--spacing-space-3x-large) 0;
}

@media (max-width: 531px) {
  .onboardingBlock {
    flex-direction: column;
  }
}

.onboardingBlock>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  width: 50%;
  gap: var(--spacing-space-medium);
}

@media (max-width: 531px) {
  .onboardingBlock>div {
    width: 90%;
  }
}

.onboardingBlock>div p {
  color: var(--color-text-secondary);
}

.onboardingBlock>div button {
  min-width: min-content;
}

.securityAndCompliance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px
}

@media (max-width: 531px) {
  .securityAndCompliance {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}

.securityAndCompliance p {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-space-2x-large);
}

.securityAndComplianceBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-space-large);
  max-width: 760px;
  margin: 0 auto var(--spacing-space-3x-large) auto;
  padding: var(--spacing-space-x-large) var(--spacing-space-2x-large) var(--spacing-space-2x-large);
  background-color: var(--earn-protocol-neutral-90);
  border-radius: var(--radius-roundish);
  border: 1px solid var(--color-border)
}

@media (max-width: 531px) {
  .securityAndComplianceBlock {
    width: 94%;
    padding: 0 var(--spacing-space-x-small) var(--spacing-space-x-small);
  }
}

.securityAndComplianceBlock ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
}

@media (max-width: 531px) {
  .securityAndComplianceBlock ul {
    padding: 0 var(--spacing-space-medium) var(--spacing-space-medium)
  }
}

.securityAndComplianceBlock ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.securityAndComplianceBlock ul li p {
  color: var(--color-text-secondary);
}

.securityAndComplianceBlock ul li svg {
  margin-right: var(--spacing-space-small);
}

.securityAndComplianceBlock ul li svg path {
  stroke-width: 3px;
}

.enhancedRiskManagementBlock {
  margin: var(--spacing-space-3x-large) auto;
}

.buildBySummerSpacer {
  margin: var(--spacing-space-3x-large) auto;
}

.finalCTAs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-space-2x-large) auto 0 auto;
}

.finalCTAs h2 {
  padding-bottom: var(--spacing-space-medium);
  margin-bottom: var(--spacing-space-x-large);
}

@media (max-width: 531px) {
  .finalCTAs h2 {
    text-align: center;
    flex-direction: column;
    margin: 0 var(--spacing-space-large);
  }
}

.finalCTAs .finalCTAElementsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-space-medium);
  margin: 0 var(--spacing-space-3x-large);
  text-align: center;
}

@media (max-width: 531px) {
  .finalCTAs .finalCTAElementsList {
    flex-direction: column;
    margin: 0 var(--spacing-space-large);
  }
}


.finalCTAs .finalCTAElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--general-space-24);
  padding: var(--spacing-space-large);
  border-radius: var(--radius-roundish);
  background-color: var(--color-surface-subtle);
  flex-basis: 33.33%;
}

.faqWrapper {
  margin-top: var(--spacing-space-3x-large);
  padding: 0 var(--spacing-space-3x-large);
}


.subpageDescriptionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}


.subpageDescriptionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subpageDescriptionText h5 {
  color: var(--color-text-primary-hover)
}

.subpageDescriptionText p {
  color: var(--color-text-secondary)
}

.subpageDescriptionCard {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subpageDescriptionCard ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subpageDescriptionCard ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 16px;
}

.subpageDescriptionCard ul li p {
  color: var(--color-text-secondary)
}

@media (max-width: 531px) {

  .faqWrapper,
  .subpageDescriptionBlock {
    padding: 0 var(--spacing-space-large);
  }

  .subpageDescriptionCard {
    padding: 24px 32px;
  }

  .subpageDescriptionCard ul li p {
    font-size: 16px;
    line-height: 20px;
  }
}

.scrollDownButton {
  padding: 10px;
  position: fixed;
  bottom: 10px;
  cursor: pointer;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    transform: rotate(90deg);
    margin-left: 10px;
  }
}

.scrollDownButtonHidden {
  bottom: 30px;
  opacity: 0;
  pointer-events: none;
}