.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  padding: var(--spacing-space-2x-large) var(--spacing-space-4x-large);
  text-align: center;
  margin-bottom: var(--spacing-space-3x-large);
}

@media (max-width: 531px) {
  .pageHeader {
    padding: var(--spacing-space-small) var(--spacing-space-large);
  }
}

.pageHeader>h1 {
  margin-bottom: var(--general-space-32);
}

.pageHeaderDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeaderDetails>p {
  color: var(--color-text-primary-hover);
  margin-bottom: 12px;
}

.pageHeaderDetails>span {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-space-x-large);
}

.pageHeaderDetails>button {
  min-width: min-content;
  padding-left: 30px;
  padding-right: 50px;
}

.pageHeaderDetails>button span {
  color: var(--earn-protocol-secondary-100);
}

.pageSubHeader {
  text-align: center;
  padding: 0 var(--spacing-space-3x-large);
  margin: 0 var(--spacing-space-x-large) var(--spacing-space-2x-large) var(--spacing-space-x-large);
}

@media (max-width: 531px) {
  .pageSubHeader {
    padding: 0 var(--spacing-space-medium);
  }
}


.pageSubHeader>h2 {
  margin-bottom: var(--spacing-space-medium);
}

.pageSubHeader>p {
  color: var(--color-text-secondary);
}

.promoBlocks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-large);
}

.onboardingBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-space-2x-large);
  margin: var(--spacing-space-3x-large) 0;
}

@media (max-width: 531px) {
  .onboardingBlock {
    flex-direction: column;
  }
}

.onboardingBlock>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  width: 50%;
  gap: var(--spacing-space-medium);
}

@media (max-width: 531px) {
  .onboardingBlock>div {
    width: 90%;
  }
}

.onboardingBlock>div p {
  color: var(--color-text-secondary);
}

.onboardingBlock>div button {
  min-width: min-content;
}

.securityAndCompliance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px
}

@media (max-width: 531px) {
  .securityAndCompliance {
    width: 80%;
    text-align: center;
  }
}

.securityAndCompliance p {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-space-2x-large);
}

.securityAndComplianceBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-space-large);
  max-width: 760px;
  margin: 0 auto var(--spacing-space-3x-large) auto;
  padding: var(--spacing-space-x-large) var(--spacing-space-2x-large) var(--spacing-space-2x-large);
  background-color: var(--earn-protocol-neutral-90);
  border-radius: var(--radius-roundish);
  border: 1px solid var(--color-border)
}

@media (max-width: 531px) {
  .securityAndComplianceBlock {
    width: 94%;
    padding: 0 var(--spacing-space-x-small) var(--spacing-space-x-small);
  }
}

.securityAndComplianceBlock ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
}

@media (max-width: 531px) {
  .securityAndComplianceBlock ul {
    padding: 0 var(--spacing-space-medium) var(--spacing-space-medium)
  }
}

.securityAndComplianceBlock ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.securityAndComplianceBlock ul li p {
  color: var(--color-text-secondary);
}

.securityAndComplianceBlock ul li svg {
  margin-right: var(--spacing-space-small);
}

.securityAndComplianceBlock ul li svg path {
  stroke-width: 3px;
}

.enhancedRiskManagementBlock {
  margin: var(--spacing-space-3x-large) auto;
}

.buildBySummerSpacer {
  margin: var(--spacing-space-3x-large) auto;
}

.finalCTAs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-space-2x-large) auto 0 auto;
}

.finalCTAs h2 {
  padding-bottom: var(--spacing-space-medium);
  margin-bottom: var(--spacing-space-x-large);
}

@media (max-width: 531px) {
  .finalCTAs h2 {
    text-align: center;
    flex-direction: column;
    margin: 0 var(--spacing-space-large);
  }
}

.finalCTAs .finalCTAElementsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-space-medium);
  margin: 0 var(--spacing-space-3x-large);
  text-align: center;
}

@media (max-width: 531px) {
  .finalCTAs .finalCTAElementsList {
    flex-direction: column;
    margin: 0 var(--spacing-space-large);
  }
}


.finalCTAs .finalCTAElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--general-space-24);
  padding: var(--spacing-space-large);
  border-radius: var(--radius-roundish);
  background-color: var(--color-surface-subtle);
  flex-basis: 33.33%;
}

.faqWrapper {
  margin-top: var(--spacing-space-3x-large);
  padding: 0 var(--spacing-space-3x-large);
}

@media (max-width: 531px) {
  .faqWrapper {
    padding: 0 var(--spacing-space-large);
  }
}