.vaultCard {
  flex-direction: column;
  align-items: center;
  position: relative;

  &Selected {
    background: var(--earn-protocol-neutral-80);
  }
}

.vaultCardHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: var(--general-space-24);
  flex-wrap: wrap;
  gap: var(--general-space-8);
}

.vaultCardAssetsWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--general-space-16);
  width: 100%;

  @include media('>=s') {
    grid-template-columns: repeat(2, 1fr);
  }
}
