.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;

  &.selected {
    position: relative;
    background-clip: padding-box;
    box-sizing: border-box;
    border: solid 1px transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -1px;
      transition: opacity 0.2s ease-out;
      border-radius: var(--radius-roundish);
      background: linear-gradient(90deg, rgba(255, 73, 164, 0.5), rgba(176, 73, 255, 0.5));
    }
  }

  &.withHover {
    position: relative;
    background-clip: padding-box;
    box-sizing: border-box;
    border: solid 1px transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -1px;
      opacity: 0;
      transition: opacity 0.2s ease-out;
      border-radius: var(--radius-roundish);
      background: var(--color-border-hover);
      box-shadow: var(--shadow-depth-3);

    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.vaultCard {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.vaultCardHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: var(--general-space-24);
}

.vaultCardAssetsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}