.arkHistoricalYieldChartCardWrapper {
  margin-top: 0;
  flex-direction: column;
  padding: 0;
  position: relative;
}

.arkHistoricalYieldChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}