.aumChartCardWrapper {
  margin-top: 0;
  flex-direction: column;
  padding: 0;
  position: relative;
}

@media (min-width: 768px) {
  .aumChartCardWrapper {
    padding-left: var(--general-space-24);
    padding-right: var(--general-space-24);
  }
}

.aumChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}