.aiStatus {
  color: #afafaf;
  font-size: 17px;
  font-weight: 900;
  margin-top: 8px;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.4s;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.4s;
}