.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
}

.title {
  margin-bottom: 12px;
}

.score {
  font-size: 20px;
  margin-bottom: 16px;
}

.timedOut {
  font-size: 22px;
  color: #d7263d;
  font-weight: 700;
  margin: 12px 0 24px 0;
}

.lastCardsRow {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 32px 0 24px 0;
  width: 100%;
  max-width: 480px;
  position: relative;
}

.lastCardCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.selectedLabel {
  margin-top: 8px;
  color: #ff4f64;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.bestApyLabel {
  margin-top: 8px;
  color: #1db954;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.buttonsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.actionables {
  display: flex;
  flex-direction: row;
  gap: 32px;
  max-width: fit-content;
}

.tryAgainButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* Fade in to full opacity */
    transform: translateY(0);
  }

  to {
    opacity: 0;
    /* Start with opacity 0 */
    transform: translateY(20px);
  }
}

.starting {
  animation: fadeOut 1s ease-in-out;
}

.shareScoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 600px) {
  .container {
    padding: 8px;
  }

  .title {
    font-size: 44px;
  }

  .score {
    font-size: 16px;
  }

  .lastCardsRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    flex-direction: unset;
    margin: 16px 0 12px 0;
    max-width: 98vw;
  }

  .buttonsRow {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }

  .tryAgainButtons {
    flex-direction: column;
  }

  .shareScoreBox {
    display: none;
  }
}