/* Main container styles */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.animated {
  opacity: 0;
  animation-name: fadeInGameStartScreen;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.starting {
  animation-name: fadeInGameStartScreen;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.title {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 16px;
}

.inviteText {
  font-size: 20px;
  margin-bottom: 16px;
  color: #ff4f64;
  font-weight: 700;
}

.description {
  font-size: 22px;
  max-width: 620px;
  text-align: center;
  margin-bottom: 32px;
  color: #efefef;
}

@keyframes fadeInGameStartScreen {
  from {
    opacity: 0;
    /* Start with opacity 0 */
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    /* Fade in to full opacity */
    transform: translateY(0);
  }
}

.wrapperCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.wrapperCardButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

@media (max-width: 600px) {
  .container {
    padding: 8px;
  }

  .title {
    font-size: 34px;
  }

  .description {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .button,
  .buttonHowTo {
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
  }

  .wrapperCardButtons {
    gap: 4px;
    flex-direction: column;
  }
}