.panelVaultExposureWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-large);

  .allocationBar {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-space-x-small);
    width: 100%;

    .allocationHeader {
      color: var(--earn-protocol-secondary-60);
    }
  }

  .tableSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-space-large);
    width: 100%;
  }
}