.checkboxSectionWrapper {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 10px;
  border-radius: var(--general-radius-4);
  background-color: var(--color-neutral-30);
  box-shadow: none;
  user-select: none;
}

.checkmarkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 25px;
  width: 25px;
  border-radius: var(--general-radius-4);
  transition: background-color 100ms, border-color 100ms;
}

.input {
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  opacity: 0;
  cursor: pointer;
}

.label {
  position: absolute;
  padding-left: 60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
