.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lockedSumrPositionsCardsWrapper {
  display: flex;
  gap: 16px;
  margin: 8px 0 32px 0;
}

@media (max-width: 744px) {
  .lockedSumrPositionsCardsWrapper {
    flex-direction: column;
  }

  .tableResponsiveWrapper {
    overflow-x: auto;
  }

  .tableResponsiveWrapper table {
    min-width: 900px;
  }
}


.noStakedSumrGradient {
  background: linear-gradient(90deg, rgba(255, 73, 164, 0.05) 0%, rgba(176, 73, 255, 0.05) 93%);

  .noStakedSumrContentBox {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;

    .noStakedSumrDataBoxes {
      display: flex;
      gap: 16px;

      .noStakedSumrDataBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 32px;
        border-radius: 16px;
        text-align: center;
        width: 100%;
        background: linear-gradient(90deg, rgba(255, 73, 164, 0.05) 0%, rgba(176, 73, 255, 0.05) 93%);
      }
    }

    button {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.removeStakeModalContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.removeStakeModalContent button {
  min-width: unset;
}

@media screen and (min-width: 768px) {
  .removeStakeModalContent {
    min-width: 321px;
  }
}

.percentageButtons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--general-space-12);
  margin-bottom: var(--general-space-12);
  flex-wrap: wrap;
  gap: var(--general-space-8);
}