.withArrow {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  & .arrow {
    transition: transform 200ms;
    transform: translateX(0px);
  }
  &:hover .arrow {
    transform: translateX(5px);
  }
}