.mainContainer {
  position: relative;
  height: 100%;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  max-width: none;
  pointer-events: none;
  z-index: 0;
}

.appContainer {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 var(--general-space-16);
}

@media (min-width: 532px) {
  .appContainer {
    padding: 0 var(--general-space-32);
  }
}

@media (min-width: 1280px) {
  .appContainer {
    padding: 0;
  }
}

.superBanner {
  position: relative;
  top: 0;
  width: 100vw;
  background-color: #FAF5DE;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s ease, top 0.5s ease;
}

.superBanner.superBannerActive {
  top: -50px;
  height: 220px;
}

.superBannerText {
  color: #F3D283;
  text-shadow: #2D2D2D 2px 0px 0px, #2D2D2D 1.75517px 0.958851px 0px, #2D2D2D 1.0806px 1.68294px 0px, #2D2D2D 0.141474px 1.99499px 0px, #2D2D2D -0.832294px 1.81859px 0px, #2D2D2D -1.60229px 1.19694px 0px, #2D2D2D -1.97998px 0.28224px 0px, #2D2D2D -1.87291px -0.701566px 0px, #2D2D2D -1.30729px -1.5136px 0px, #2D2D2D -0.421592px -1.95506px 0px, #2D2D2D 0.567324px -1.91785px 0px, #2D2D2D 1.41734px -1.41108px 0px, #2D2D2D 1.92034px -0.558831px 0px;
}