.mainContainer {
  position: relative;
  height: 100%;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  max-width: none;
  pointer-events: none;
  z-index: 0;
}

.appContainer {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 var(--general-space-16);
}

@media (min-width: 532px) {
  .appContainer {
    padding: 0 var(--general-space-32);
  }
}

@media (min-width: 1280px) {
  .appContainer {
    padding: 0;
  }
}