.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-4);
}
.titleWrapper h2 {
  color: var(--earn-protocol-primary-100);
}
.titleWrapper .subtitle {
  color: var(--earn-protocol-secondary-40);
}
.titleWrapper .sumr {
  margin-left: var(--general-space-4);
}
