.wrapper {
  width: 100%;
  margin: var(--general-space-32) auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 420px;
  }
}

.middleSection {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: var(--general-space-20) var(--general-space-12);
  padding-left: var(--general-space-20);
}

.line {
  position: absolute;
  border-left: 2px solid var(--earn-protocol-neutral-80);
  height: 150px;
  left: 0;
  top: 10px;
}
@media (min-width: 418px) {
  .line {
    height: 82%;
  }
}

.dot {
  position: absolute;
  background-color: var(--earn-protocol-neutral-80);
  border-radius: 50%;
  height: 8px;
  width: 8px;
  left: -3px;
  top: 7px;
}

.paymentMethodsWrapper {
  display: flex;
  gap: var(--general-space-16);
  flex-wrap: wrap;
}

.showDetailsWrapper {
  position: relative;
}
.showDetailsWrapper .detailsCircleBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--earn-protocol-neutral-80);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  left: -30px;
  top: 17px;
  cursor: pointer;
}

.showDetails {
  color: var(--earn-protocol-secondary-60);
  margin-top: var(--general-space-20);
  margin-bottom: var(--general-space-12);
  cursor: pointer;
}

.error {
  color: var(--earn-protocol-critical-100);
  margin-top: var(--general-space-8);
  max-width: 360px;
}

.extraInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--general-space-16);
  gap: var(--general-space-16);
  flex-wrap: wrap;
}

.slippageWrapper,
.averageProcessingTimeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: var(--general-radius-8);
  height: 56px;
  min-width: 190px;
}

.slippageWrapper {
  background-color: var(--earn-protocol-primary-40);
  gap: var(--general-space-4);
}

.averageProcessingTimeWrapper {
  background-color: var(--earn-protocol-neutral-85);
  gap: var(--general-space-8);
  padding: 0 var(--general-space-8);
}
.averageProcessingTimeWrapper .textual {
  display: flex;
  flex-direction: column;
  align-items: center;
}
