.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
