.vaultOpenGridBreadcrumbsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    margin-top: var(--general-space-12);
    color: var(--earn-protocol-primary-100);
  }
}

.vaultOpenGridPositionWrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr max(446px);
    grid-gap: var(--general-space-16);
  }

  .leftBlock {
    display: grid;
    grid-gap: var(--general-space-16);
  }

  .rightBlockWrapper {
    height: 100%;
    display: none;

    .rightBlock {
      position: sticky;
      top: var(--general-space-16);
      display: flex;
      flex-direction: column;
      gap: var(--general-space-16);
    }

    @media screen and (min-width: 900px) {
      display: block;
    }
  }

  .rightExtraBlockMobileWrapper {
    margin-bottom: var(--general-space-16);
  }
}

.rightBlockMobile {
  position: absolute;
  display: block;
}

.vaultOpenGridTopLeftWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: var(--general-space-16);

  .vaultBonusWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.refreshWrapper {
  display: inline-block;
  bottom: -3px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.refreshing {
  svg {
    opacity: 1;
    animation: rotate 1s linear infinite;
    color: var(--earn-protocol-primary-100);
  }
}
