.vaultOpenGridBreadcrumbsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--general-space-12);

  .vaultId {
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (min-width: 450px) {
      max-width: unset;
    }
  }
}

.vaultOpenGridBreadcrumbsWrapper a {
  color: var(--earn-protocol-primary-100);
}

.vaultOpenGridPositionWrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

@media screen and (min-width: 900px) {
  .vaultOpenGridPositionWrapper {
    grid-template-columns: 1fr 430px;
    grid-gap: var(--general-space-16);
  }
}

.vaultOpenGridPositionWrapper .leftBlock {
  display: grid;
  grid-gap: var(--general-space-16);
}

.vaultOpenGridPositionWrapper .rightBlockWrapper {
  height: 100%;
  display: none;
}

.vaultOpenGridPositionWrapper .rightBlockWrapper .rightBlock {
  position: sticky;
  top: var(--general-space-16);
  display: flex;
  flex-direction: column;
  gap: var(--general-space-16);
}

@media screen and (min-width: 900px) {
  .vaultOpenGridPositionWrapper .rightBlockWrapper {
    display: block;
  }
}

.vaultOpenGridPositionWrapper .rightExtraBlockMobileWrapper {
  margin-bottom: var(--general-space-16);
}

.rightBlockMobile {
  position: absolute;
  display: block;
}

.vaultOpenGridTopLeftWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: var(--general-space-16);
}

.vaultOpenGridTopLeftWrapper .vaultBonusWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.refreshWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.refreshing svg {
  opacity: 1;
  animation: rotate 1s linear infinite;
  color: var(--earn-protocol-primary-100);
}
