@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.titleWithSelectWrapper {
  display: flex;
  flex-direction: column;
}
.titleWithSelectWrapper .titleLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titleWithSelectWrapper .refreshButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.refreshing svg {
  opacity: 1;
  animation: rotate 1s linear infinite;
  color: var(--earn-protocol-primary-100);
}
