.card,
.cardDark,
.cardSmallPaddings {
  display: flex;
  width: 100%;
  border: var(--border-1);
  border-radius: var(--radius-12);
  background-color: var(--color-neutral-10);
}

.card,
.cardDark {
  padding: var(--space-l);
}

.cardDark {
  border: unset;
  background-color: var(--color-neutral-30);
}

.cardSmallPaddings {
  padding: var(--space-s);
}
