.claimDelegateFormHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--general-space-32);

  @include media('>s') {
    gap: var(--general-space-48);
  }

  @include media('>l') {
    gap: unset;
    gap: var(--general-space-16);
  }

  .step {
    display: flex;
    align-items: center;
    gap: var(--general-space-16);

    .stepLabel {
      display: none;

      @include media('>l') {
        display: block;
      }
    }

    .stepArrow {
      display: none;
      color: var(--earn-protocol-secondary-40);

      @include media('>l') {
        display: block;
        margin-left: var(--general-space-8);
        margin-right: var(--general-space-24);
      }
    }

    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: var(--general-radius-50);
      background-color: var(--earn-protocol-neutral-85);

      &.active {
        background-image: var(--gradient-earn-protocol-dark);
      }

      &.completed {
        background-color: var(--earn-protocol-success-10);
      }
    }
  }

  .separator {
    border-bottom: 1px solid var(--earn-protocol-neutral-100);
  }
}
