.forecastTooltipWrapper {
  text-align: left;
  border-radius: var(--radius-large);
  background-color: var(--color-surface-light);
  padding: var(--spacing-space-small);
  box-shadow: var(--shadow-depth-1);

  .timestampInfo {
    display: flex;
    flex-direction: row;
    align-items: center;

    >p {
      padding-top: 3px;
      margin-left: 5px;
    }
  }

  .gridColumn {
    text-align: right;
    justify-content: flex-end;

    .firstColumn {
      text-align: left;
    }
  }

  .gridColumnValue {
    display: flex;
    flex-direction: row;
    align-items: center;

    >svg {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.divider {
  border-top: 1px solid #3D3D3D;
  margin: var(--spacing-space-small) 0;
}

.subtleText {
  color: var(--color-text-primary-disabled);
}