.historicalLegendWrapper {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--spacing-space-medium);
}
@media (min-width: 768px) {
  .historicalLegendWrapper {
    flex-direction: column;
    margin-left: 40px;
    min-width: 190px;
  }
}

.historicalLegendItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  margin-top: -5px;
}
.historicalLegendItemWrapper .historicalLegendItemTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.historicalLegendItemWrapper .historicalLegendItemValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  margin-left: 15px;
  color: var(--color-text-primary);

  > span {
    text-align: left;
  }
}
