.cardWrapper {
  width: auto;
}
@media screen and (min-width: 600px) {
  .cardWrapper {
    min-width: 818px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: var(--space-l);
  flex-wrap: wrap;
  row-gap: var(--space-m);
}

.generalInfoWrapper {
  display: flex;
  align-items: center;
  column-gap: var(--space-xs);
}

.groupWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: var(--space-xxs);
}

.automationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-m);
}

.automationItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.link {
  display: inline-block;
  width: 100%;
}
