.panelAssetManagementWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-medium-large);
}

.assetManagementBlocks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-large);
}

.statsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-space-large);
}

.actionsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-space-large);
}

.actionCardHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
  padding-bottom: var(--spacing-space-small);
}

.actionCardContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-small);
}

.connectWalletButton {
  padding: 0;
  margin: 5px 0 0 0;
}

.clickableBalance {
  cursor: pointer;
  text-decoration: underline;
}
