name: summerfi-api-local

services:
  rays-db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: rays
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
      POSTGRES_HOST: localhost
    healthcheck:
      test:
        ['CMD-SHELL', "sh -c 'pg_isready --dbname=$${POSTGRES_DB} --username=$${POSTGRES_USER}'"]
      interval: 3s
      timeout: 30s
      retries: 10
    ports:
      - '5500:5432'
    volumes:
      - rays-db-pg-v16-data:/var/lib/postgresql/data
  redis-cache:
    image: redis:7.2.4
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping | grep PONG']
      interval: 1s
      timeout: 3s
      retries: 5
    command: ['redis-server']
    ports:
      - '5501:6379'
    volumes:
      - redis-cache-v7-data:/data
  oasis-borrow-db:
    image: postgres:12
    restart: always
    build:
      context: .
      dockerfile: compose-build/oasis-borrow-seed.Dockerfile
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_HOST=localhost
      - POSTGRES_PORT=5432
      - POSTGRES_DB=db
    healthcheck:
      test:
        ['CMD-SHELL', "sh -c 'pg_isready --dbname=$${POSTGRES_DB} --username=$${POSTGRES_USER}'"]
      interval: 3s
      timeout: 30s
      retries: 10
    ports:
      - '5432:5432'
    volumes:
      - oasis-borrow-pg-v12-data:/var/lib/postgresql/data
  summer-protocol-db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: summerprotocol
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
      POSTGRES_HOST: localhost
    healthcheck:
      test:
        ['CMD-SHELL', "sh -c 'pg_isready --dbname=$${POSTGRES_DB} --username=$${POSTGRES_USER}'"]
      interval: 3s
      timeout: 30s
      retries: 10
    ports:
      - '5502:5432'
    volumes:
      - summer-protocol-db-pg-v16-data:/var/lib/postgresql/data
  summer-beach-club-db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: beach_club_points
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5439:5432'
    volumes:
      - summer-beach-club-db-pg-v16-data:/var/lib/postgresql/data
    healthcheck:
      test:
        ['CMD-SHELL', "sh -c 'pg_isready --dbname=$${POSTGRES_DB} --username=$${POSTGRES_USER}'"]
      interval: 3s
      timeout: 30s
      retries: 10
  summer-institutions-db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: summerinstitutions
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
      POSTGRES_HOST: localhost
    healthcheck:
      test:
        ['CMD-SHELL', "sh -c 'pg_isready --dbname=$${POSTGRES_DB} --username=$${POSTGRES_USER}'"]
      interval: 3s
      timeout: 30s
      retries: 10
    ports:
      - '5503:5432'
    volumes:
      - summer-institutions-db-pg-v16-data:/var/lib/postgresql/data
volumes:
  rays-db-pg-v16-data:
    driver: local
  redis-cache-v7-data:
    driver: local
  oasis-borrow-pg-v12-data:
    driver: local
  summer-protocol-db-pg-v16-data:
    driver: local
  summer-institutions-db-pg-v16-data:
    driver: local
  summer-beach-club-db-pg-v16-data:
    driver: local
