.dialog {
  border: unset;
  padding: unset;
  background: unset;
  outline: none;
  position: relative;
  overflow: visible;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .closeButton {
    position: absolute;
    top: 23px;
    right: 15px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
  }
}
