.wrapper {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 32px;
  padding: 8px;
  padding-right: 32px;
  margin-top: 16px;
  margin-bottom: 36px;
  margin: 16px auto 36px auto;
  color: #17344F;
}

.iconWrapper {
  padding: 0 5px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 32px;
  margin-right: 16px;
}
