.drawer {
  position: fixed;
  overflow: hidden;
  background-color: var(--earn-protocol-neutral-90);
  z-index: 1000;
  transition: transform 0.3s ease-out;
  visibility: visible;
  /* Bottom sliding */
  /* Top sliding */
  /* Left sliding */
  /* Right sliding */
  /* Open states */
}
.drawer.bottomDefault, .drawer.bottomSidebar {
  bottom: 0;
  left: 0;
}
.drawer.bottomDefault {
  transform: translateY(100%);
}
.drawer.bottomSidebar {
  transform: translateY(calc(100% - 87px));
}
.drawer.topDefault, .drawer.topSidebar {
  top: 0;
  left: 0;
}
.drawer.topDefault {
  transform: translateY(-100%);
}
.drawer.topSidebar {
  transform: translateY(calc(-100% + 66px));
}
.drawer.leftDefault, .drawer.leftSidebar {
  top: 0;
  left: 0;
}
.drawer.leftDefault {
  transform: translateX(-100%);
}
.drawer.leftSidebar {
  transform: translateX(calc(-100% + 66px));
}
.drawer.rightDefault, .drawer.rightSidebar {
  top: 0;
  right: 0;
}
.drawer.rightDefault {
  transform: translateX(100%);
}
.drawer.rightSidebar {
  transform: translateX(100%);
}
.drawer.open.bottomDefault, .drawer.open.bottomSidebar, .drawer.open.topDefault, .drawer.open.topSidebar, .drawer.open.leftDefault, .drawer.open.leftSidebar, .drawer.open.rightDefault, .drawer.open.rightSidebar {
  transform: translate(0, 0);
}
@media screen and (min-width: 900px) {
  .drawer {
    visibility: hidden;
  }
}

.drawerContentDefault,
.drawerContentSidebar {
  position: relative;
  overflow-y: auto;
}

.drawerContentDefault {
  height: 100%;
}

.drawerTopContentSidebar,
.drawerBottomContentSidebar {
  height: 100%;
}

.drawerRightContentSidebar,
.drawerLeftContentSidebar {
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.content {
  height: 100%;
  overflow-y: auto;
}
.content > div {
  padding: var(--spacing-space-large) var(--spacing-space-x-large);
}
@media (min-width: 1026px) {
  .content {
    padding: var(--spacing-space-x-large);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
