.content {
  margin-top: var(--space-xxl);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-m);
  flex-wrap: wrap;
  row-gap: var(--space-m);
}

.productsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);
  max-width: 818px;
}

.productTypeWrapper {
  display: flex;
  column-gap: var(--space-m);
  text-transform: capitalize;
}
