.wrapper {
  padding: 5px 12px;
  border-radius: var(--radius-16);
  user-select: none;
}

.neutral {
  color: var(--color-neutral-80);
  background-color: var(--color-neutral-40);
}

.success {
  color: var(--color-success-70);
  background-color: var(--color-success-10);
}

.warning {
  color: var(--color-warning-70);
  background-color: var(--color-warning-10);
}

.critical {
  color: var(--color-critical-70);
  background-color: var(--color-critical-10);
}

.interactive {
  color: var(--color-interactive-100);
  background-color: var(--color-interactive-30);
}

.primary {
  color: var(--color-primary-30);
  background-color: var(--color-primary-100);
}

.colorful {
  background: var(--gradient-summer-fi-lightest);
}
