html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: auto;

  font-family:
    var(--font-inter),
    system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ 'Segoe UI',
    /* Android 4+ */ 'Roboto',
    /* Ubuntu 10.10+ */ 'Ubuntu',
    /* Gnome 3+ */ 'Cantarell',
    /* KDE Plasma 5+ */ 'Noto Sans',
    /* fallback */ sans-serif,
    /* macOS emoji */ 'Apple Color Emoji',
    /* Windows emoji */ 'Segoe UI Emoji',
    /* Windows emoji */ 'Segoe UI Symbol',
    /* Linux emoji */ 'Noto Color Emoji';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
