:root {
  --color-primary-100: #17344f;
  --color-primary-60: #6d7b85;
  --color-primary-30: #b6bdc2;
  --color-secondary-100: #e6e9eb;
  --color-secondary-60: #f1f3f4;
  --color-neutral-80: #596f78;
  --color-neutral-70: #a8a9b1;
  --color-neutral-60: #bec9d0;
  --color-neutral-40: #d8e0e5;
  --color-neutral-30: #f3f7f9;
  --color-neutral-20: #eaeaea;
  --color-neutral-10: #fff;
  --color-success-100: #1aab9b;
  --color-success-70: #5fc4b9;
  --color-success-10: #e7fcfa;
  --color-warning-100: #d8762d;
  --color-warning-70: #e49f6c;
  --color-warning-10: #fff1cf;
  --color-critical-100: #d94a1e;
  --color-critical-70: #e48062;
  --color-critical-10: #ffeee9;
  --color-interactive-100: #384bf6;
  --color-interactive-50: #9ba5fb;
  --color-interactive-30: #c3c9fc;
  --color-interactive-10: #ebedfe;
  --color-text-primary: var(--color-primary-100);
  --color-text-primary-hover: var(--color-primary-60);
  --color-text-secondary: var(--color-neutral-80);
  --color-text-interactive: var(--color-interactive-100);
  --color-text-success: var(--color-success-100);
  --color-text-warning: var(--color-warning-100);
  --color-text-critical: var(--color-critical-100);
  --color-surface-neutral: var(--color-neutral-10);
  --color-surface-secondary: var(--color-secondary-60);
  --color-surface-success: var(--color-success-10);
  --color-surface-warning: var(--color-warning-10);
  --color-surface-critical: var(--color-critical-10);
  --color-surface-interactive: var(--color-interactive-10);
  --color-border-neutral: var(--color-neutral-20);
  --color-border-interactive: var(--color-interactive-30);
  --color-border-secondary: var(--color-interactive-100);
}
