:root {
  --gradient-summer-fi-dark: linear-gradient(270deg, #007da3 0.02%, #e7a77f 56.92%, #e97047 98.44%);
  --gradient-summer-fi-light: linear-gradient(135deg, #6dd5fa 0%, #f2fcff 37.5%, #ffe7d8 65.1%, #fbb677 100%);
  --gradient-summer-fi-lightest: linear-gradient(92deg, #fff3ef 0.78%, #f2fcff 99.57%);
  --gradient-network-ethereum: linear-gradient(128deg, #6580eb 23.94%, #8ea2f2 110.63%);
  --gradient-network-arbitrum: linear-gradient(128deg, #243145 3.74%, #4da7f8 83.51%);
  --gradient-network-base: linear-gradient(142deg, #143ff5 9.69%, #5881f7 97.14%);
  --gradient-network-optimism: linear-gradient(135deg, #ff0420 0%, #ff6c7d 100%);
  --gradient-protocol-aave: linear-gradient(230deg, #b6509e 15.42%, #2ebac6 84.42%);
  --gradient-protocol-ajna: linear-gradient(90deg, #f154db 0%, #974eea 100%);
  --gradient-protocol-maker: linear-gradient(135deg, #2dc1b1 0%, #139d8d 100%);
  --gradient-protocol-morpho-blue: linear-gradient(92deg, #1859f2 0%, #00378a 89.02%);
  --gradient-protocol-spark: linear-gradient(159deg, #f58013 12.26%, #f19d19 86.52%);
  --gradient-protocol-sky: linear-gradient(159deg, #4a87fa 12.26%, #a294ee 86.52%);
}
