@import '../../node_modules/sanitize.css/sanitize.css';
@import '../../node_modules/sanitize.css/assets.css';
@import '../../node_modules/sanitize.css/forms.css';

@import url('./vendor.css');
@import url('./spacings.css');
@import url('./colors.css');
@import url('./gradients.css');
@import url('./borders.css');
@import url('./radii.css');
@import url('./shadows.css');
@import url('./base.css');
@import url('./dynamic.css');

:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;
  --space-xxxl: 128px;
  --space-xxxxl: 256px;
}

:root {
  --color-primary-100: #17344f;
  --color-primary-60: #6d7b85;
  --color-primary-30: #b6bdc2;
  --color-secondary-100: #e6e9eb;
  --color-secondary-60: #f1f3f4;
  --color-neutral-80: #596f78;
  --color-neutral-70: #a8a9b1;
  --color-neutral-60: #bec9d0;
  --color-neutral-40: #d8e0e5;
  --color-neutral-30: #f3f7f9;
  --color-neutral-20: #eaeaea;
  --color-neutral-10: #fff;
  --color-success-100: #1aab9b;
  --color-success-70: #5fc4b9;
  --color-success-10: #e7fcfa;
  --color-warning-100: #d8762d;
  --color-warning-70: #e49f6c;
  --color-warning-10: #fff1cf;
  --color-critical-100: #d94a1e;
  --color-critical-70: #e48062;
  --color-critical-10: #ffeee9;
  --color-interactive-100: #384bf6;
  --color-interactive-50: #9ba5fb;
  --color-interactive-30: #c3c9fc;
  --color-interactive-10: #ebedfe;
  --color-text-primary: var(--color-primary-100);
  --color-text-primary-hover: var(--color-primary-60);
  --color-text-secondary: var(--color-neutral-80);
  --color-text-interactive: var(--color-interactive-100);
  --color-text-success: var(--color-success-100);
  --color-text-warning: var(--color-warning-100);
  --color-text-critical: var(--color-critical-100);
  --color-surface-neutral: var(--color-neutral-10);
  --color-surface-secondary: var(--color-secondary-60);
  --color-surface-success: var(--color-success-10);
  --color-surface-warning: var(--color-warning-10);
  --color-surface-critical: var(--color-critical-10);
  --color-surface-interactive: var(--color-interactive-10);
  --color-border-neutral: var(--color-neutral-20);
  --color-border-interactive: var(--color-interactive-30);
  --color-border-secondary: var(--color-interactive-100);
}

:root {
  --gradient-summer-fi-dark: linear-gradient(270deg, #007da3 0.02%, #e7a77f 56.92%, #e97047 98.44%);
  --gradient-summer-fi-light: linear-gradient(135deg, #6dd5fa 0%, #f2fcff 37.5%, #ffe7d8 65.1%, #fbb677 100%);
  --gradient-summer-fi-lightest: linear-gradient(92deg, #fff3ef 0.78%, #f2fcff 99.57%);
  --gradient-network-ethereum: linear-gradient(128deg, #6580eb 23.94%, #8ea2f2 110.63%);
  --gradient-network-arbitrum: linear-gradient(128deg, #243145 3.74%, #4da7f8 83.51%);
  --gradient-network-base: linear-gradient(142deg, #143ff5 9.69%, #5881f7 97.14%);
  --gradient-network-optimism: linear-gradient(135deg, #ff0420 0%, #ff6c7d 100%);
  --gradient-protocol-aave: linear-gradient(230deg, #b6509e 15.42%, #2ebac6 84.42%);
  --gradient-protocol-ajna: linear-gradient(90deg, #f154db 0%, #974eea 100%);
  --gradient-protocol-maker: linear-gradient(135deg, #2dc1b1 0%, #139d8d 100%);
  --gradient-protocol-morpho-blue: linear-gradient(92deg, #1859f2 0%, #00378a 89.02%);
  --gradient-protocol-spark: linear-gradient(159deg, #f58013 12.26%, #f19d19 86.52%);
  --gradient-protocol-sky: linear-gradient(159deg, #4a87fa 12.26%, #a294ee 86.52%);
}

:root {
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-50: 50px;
  --radius-circle: 50%;
}

:root {
  --shadow-depth-1: rgba(0, 0, 0, 10%) 0px 0px 8px;
  --shadow-depth-2: rgba(0, 0, 0, 15%) 0px 0px 8px;
  --shadow-depth-3: rgba(0, 0, 0, 20%) 0px 4px 8px;
  --shadow-active: rgba(87, 92, 254, 0.70) 0px 0px 6px;
}

:root {
  --navigation-dropdown-content-dynamic-height: 10px;
}