.landingPageHeroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;

  @include media('<=s') {
    margin-bottom: var(--spacing-space-2x-large);
  }
}

.heroHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 97px;
}