.landingPageHeroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include media('<=s') {
    margin-bottom: var(--spacing-space-2x-large);
  }
}

.heroHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 74px;
}

.heroHeaderMobile {
  text-align: center;

  >h1 {
    display: inline;
  }

  >h1:last-child {
    margin-left: 10px;
  }
}

.viewAllStrategies {
  display: block;
  margin: var(--spacing-space-2x-large) 0;
}