.landingPageHeroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
}

.heroHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 97px;
}