.flexGapped {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-3x-large);
  width: 100%;
}
@media (min-width: 1280px) {
  .flexGapped {
    gap: var(--spacing-space-4x-large);
  }
}
