.flexGapped {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-4x-large);
  padding: 0 var(--spacing-space-2x-large);

  @include media('<=s') {
    width: 100%;
    padding: 0 var(--spacing-space-x-small);
    gap: var(--spacing-space-3x-large);
  }
}