.protocolScrollerWrapper {
  margin-top: var(--spacing-space-3x-large);
}
@media (max-width: 531px) {
  .protocolScrollerWrapper {
    margin-top: var(--spacing-space-2x-large);
  }
}

.protocolScrollerHeader {
  font-weight: 600;
  text-align: center;
  padding: 0 var(--spacing-space-medium);
  max-width: 1057px;
  margin: 0 auto;
}
@media (min-width: 532px) {
  .protocolScrollerHeader {
    padding: 0 var(--spacing-space-2x-large);
  }
}
.protocolScrollerHeader > span > span {
  font-weight: 600;
}

.headerLine {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
}

.protocolScrollerTrackWrapper {
  position: absolute;
  height: 82px;
  width: 100vw;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

@keyframes tickerAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.protocolScrollerOverflowWrapper {
  position: relative;
  left: 0;
  height: 82px;
  width: 100vw;
  overflow: hidden;
  margin-top: var(--spacing-space-2x-large);
  margin-bottom: var(--spacing-space-3x-large);
}
@media (min-width: 532px) {
  .protocolScrollerOverflowWrapper {
    margin-top: var(--spacing-space-2x-large);
    margin-bottom: var(--spacing-space-3x-large);
  }
}
@media (min-width: 1026px) {
  .protocolScrollerOverflowWrapper {
    margin-top: var(--spacing-space-2x-large);
    margin-bottom: var(--spacing-space-4x-large);
  }
}

.protocolScrollerTrack {
  position: absolute;
  height: 82px;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-space-medium);
  animation-name: tickerAnimation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.protocolScrollerOverlay {
  left: 0;
  position: absolute;
  width: 100%;
  height: 82px;
  pointer-events: none;
  z-index: 3;
  background: linear-gradient(90deg, rgb(28, 28, 28) 0%, rgba(70, 70, 70, 0) 48.5%, rgb(28, 28, 28) 100%);
}

.protocolScrollerItemGradient {
  cursor: auto !important;
}
.protocolScrollerItemGradient::before {
  border-radius: var(--radius-large) !important;
}

.protocolScrollerItem {
  border-radius: var(--radius-large);
  background-color: var(--color-surface-subtle);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  min-width: 280px;
  max-width: 280px;
  padding: var(--spacing-space-medium) var(--spacing-space-large);
  transition: background-color 0.2s ease;
}
.protocolScrollerItem:hover {
  background-color: var(--color-surface-subtler);
}

.protocolScrollerItemNameIcon {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-space-medium);
}

.protocolScrollerItemTvl {
  display: flex;
  flex-direction: column;
  text-align: right;
}
