.vaultGridWrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 var(--general-space-4);
}

@media (min-width: 745px) {
  .vaultGridWrapper {
    padding: 0 var(--general-space-16);
  }
}

@media (min-width: 1280px) {
  .vaultGridWrapper {
    padding: 0;
  }
}

.vaultGridHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-32);
}

.vaultGridHeaderWrapper a {
  margin-top: var(--general-space-12);
  color: var(--earn-protocol-primary-100);
}

.vaultGridPositionWrapper {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 20px;
  align-items: start;
  grid-gap: var(--general-space-16);
}

@media screen and (min-width: 900px) {
  .vaultGridPositionWrapper {
    grid-template-columns: 1fr 430px;
  }
}

.vaultGridPositionWrapper .fullWidthBlock {
  grid-column: 1;
}

@media screen and (min-width: 900px) {
  .vaultGridPositionWrapper .fullWidthBlock {
    grid-column: 1/3;
  }
}

.vaultGridPositionWrapper .leftBlock {
  display: grid;
  grid-gap: var(--general-space-16);
}

.vaultGridPositionWrapper .rightBlockWrapper {
  height: 100%;
  display: none;
}

.vaultGridPositionWrapper .rightBlockWrapper .rightBlock {
  position: sticky;
  top: var(--general-space-16);
}

@media screen and (min-width: 900px) {
  .vaultGridPositionWrapper .rightBlockWrapper {
    display: block;
  }
}

.rightBlockMobile {
  position: absolute;
  display: block;
}