.wrapper {
  margin-top: var(--general-space-32);
  margin-bottom: var(--general-space-24);
  width: 100%;
  display: flex;
  justify-content: center;
}

.firstLayerCircle,
.secondLayerCircle,
.thirdLayerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.firstLayerCircle {
  width: 100px;
  height: 100px;
  background-color: var(--earn-protocol-neutral-85);
}

.secondLayerCircle {
  width: 74px;
  height: 74px;
  background-image: var(--gradient-earn-protocol-dark-10);
}

.thirdLayerCircle {
  width: 52px;
  height: 52px;
  background-image: var(--gradient-earn-protocol-dark);
}
