.sumrGovernanceWrapper {
  margin-top: var(--general-space-128);

  @media (min-width: 768px) {
    min-height: 740px;
  }

  .sumrGovernanceContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (min-width: 768px) {
      min-width: 849px;
    }

    > p {
      margin-bottom: var(--general-space-24);
      color: var(--earn-protocol-secondary-40);
    }

    .customCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: var(--general-space-24);
    }

    .actionableWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--general-space-12);

      > button {
        min-width: unset;
        height: 38px;
        font-size: 14px;
      }
    }
  }

  .marketingDetailsCustomWrapper {
    padding-top: var(--spacing-space-2x-large);
    padding-right: 0;

    @include media('<=s') {
      padding: var(--spacing-space-small);
    }
  }
}
