.portfolioSummerProWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-16);

  .migrateTabWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--general-space-16);

    .buttonWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
