.panelActivityWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-large);

  .headingWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: var(--spacing-space-small);
    flex-wrap: wrap;

    .filters {
      display: flex;
      gap: var(--spacing-space-small);
      flex-wrap: wrap;

      .button {
        border: 1px solid var(--earn-protocol-neutral-70);
        background-color: unset;

        &:hover {
          border: 1px solid var(--earn-protocol-neutral-60);
        }
      }

      .active {
        border: 1px solid var(--earn-protocol-primary-100);
        background-color: unset;
      }
    }
  }

  .tableCard {
    flex-direction: column;
  }

  .tableWrapper {
    overflow-x: auto;

    .table {
      min-width: max-content;

      .onEdit {
        color: var(--earn-protocol-primary-100);

        &:hover {
          opacity: 0.6;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }
  }
}

.activityLogMessage {
  display: inline-flex;
  color: var(--color-text-secondary);
  font-weight: 400;
  strong {
    color: var(--color-text-primary);
    font-weight: 600;
  }
}

.activityLogMessageDetails {
  display: flex;
  width: 100%;
  justify-items: space-between;
  color: var(--color-text-secondary);
  font-weight: 400;
  strong {
    color: var(--color-text-primary);
    font-weight: 600;
  }
  > div {
    width: 100%;
  }
}

.txLink {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    transition:
      opacity 0.1s ease-in-out,
      color 0.1s ease-in-out;
    color: var(--earn-protocol-primary-100);
  }
}

.monthSeparator {
  display: flex;
  align-items: center;
  gap: var(--spacing-space-small);
  padding: 8px 0 0 0;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--color-text-primary);
  text-transform: uppercase;
}
