.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.assetsWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  gap: var(--general-space-8);
  max-height: 935px;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}

.assetsWrapperAnimatedHeight > div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  gap: var(--general-space-8);
}

.assetWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-color: var(--earn-protocol-neutral-85);
  transition: border-color ease-out 0.2s;
}
.assetWrapper:hover {
  border-color: var(--earn-protocol-neutral-60);
  transition: border-color ease-out 0.2s;
}

.tokenBlockWrapper {
  flex: 1;
}

.dataBlockWrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
}

.linkWrapper {
  display: flex;
  align-items: center;
  gap: var(--general-space-8);
  cursor: pointer;
  margin-top: var(--general-space-16);
}
.linkWrapper > p {
  color: var(--earn-protocol-primary-100);
}
