.chainSelector {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--general-space-4);
}

.label {
  color: var(--color-text-primary-disabled);
  margin-bottom: var(--general-space-4);
}

.networkOption {
  display: flex;
  align-items: center;
  gap: var(--general-space-8);
  padding: var(--general-space-4);
}
.networkOption span {
  color: var(--earn-protocol-neutral-10);
}

.dropdown {
  background: var(--earn-protocol-neutral-90);
  border: 1px solid var(--earn-protocol-neutral-80);
  border-radius: var(--general-radius-8);
}
