.slideButtonWrapper {
  display: flex;
  align-items: center;
}
.slideButtonWrapper .slideButtonWrapper {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-left: var(--general-space-16);
}
.slideButtonWrapper .slideButtonWrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slideButtonWrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.2s;
  border-radius: 34px;
}
.slideButtonWrapper .sliderLight {
  background-color: var(--color-surface-light);
}
.slideButtonWrapper .sliderDark {
  background-color: var(--earn-protocol-neutral-85);
}
.slideButtonWrapper .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-background-primary);
  transition: 0.2s;
  border-radius: 50%;
}
.slideButtonWrapper input:checked + .slider {
  background-color: var(--color-background-primary);
}
.slideButtonWrapper input:checked + .slider:before {
  transform: translateX(20px);
  background-color: var(--color-text-primary);
}
