.tooltipWrapper {
  display: flex;
  position: relative;
  align-items: center;
  color: inherit;
}

.tooltip,
.tooltipOpen {
  background-color: var(--color-neutral-10);
  position: absolute;
  transition: opacity 200ms, transform 200ms;
  font-size: 12px;
  font-weight: 500;
  border-radius: var(--radius-12);
  width: 100px;
  max-width: 400px;
}

.tooltip {
  opacity: 0;
  pointer-events: none;
  top: 16px;
  transform: translateY(20px);
  display: none;
}

.tooltipOpen {
  display: block;
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(30px);
}
