.firstRowWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--general-space-16);

  @media screen and (min-width: 600px) {
    gap: unset;
    padding: unset;
  }
}

.secondRowWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--general-space-16);
  padding: 0 var(--general-space-16);
  margin-top: var(--general-space-40);
  margin-bottom: var(--general-space-40);

  @media screen and (min-width: 600px) {
    gap: unset;
    padding: unset;
  }
}
