.wrapper {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 0.64705em;
  transition: transform 200ms;
}

.arrow {
  content: "";
  position: absolute;
  top: -0.14764em;
  left: 0.41176em;
  width: 0.17647em;
  height: 0.58823em;
  border-bottom: 0.75588em solid;
  transition: transform 200ms, border-color 200ms;
}
