.sumrPageV2Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .sumrPageV2Wrapper {
    padding: 0;
  }
}

.twoCardsWrapper {
  display: flex;
  gap: 21px;
  width: 100%;
  margin-bottom: 21px;

  >div {
    width: 100%;
  }
}

.cardCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: var(--color-text-secondary);
    margin-top: 16px;
    margin-bottom: 10px;
  }

  h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      color: var(--color-text-secondary);
      margin-bottom: 24px;
    }
  }

  button {

    margin-bottom: 16px;
  }
}

.cardDataBlock {
  display: flex;
  padding: 24px 32px 36px 32px;
  justify-content: space-between;
  align-items: flex-start;

  .cardDataBlockValue {
    margin: 4px 0;
  }
}


.tokenPairIcon {
  display: flex;
  align-items: center;
  margin-right: 10px;

  >div {
    position: static !important;
    margin-right: -10px;
  }
}

.middleFaqSectionWrapper {
  border-radius: 16px;
  padding: 2px var(--spacing-space-large) 18px var(--spacing-space-large);
  margin: 0 0 21px 0;
  background: linear-gradient(90deg, rgba(255, 73, 164, 0.05) 0%, rgba(176, 73, 255, 0.05) 93%);
}

.stakingTabBarWrapper {
  width: 100%;
  margin: var(--spacing-space-2x-large) 0;
}

.whatIsSumrStakingWrapper,
.earn2SourcesOfEarningWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-small);
}

.whatIsSumrStakingBlocksWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;

  .whatIsSumrStakingBlock {
    background: linear-gradient(90deg, rgba(255, 73, 164, 0.05) 0%, rgba(176, 73, 255, 0.05) 93%);
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid rgba(255, 73, 164, 0.15);
    text-align: center;
    color: white;

    .whatIsSumrStakingBlockNumber {
      display: flex;
      padding: 8px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 70px;
      width: 40px;
      height: 40px;
      background: #FF49A4;
      text-align: center;
    }
  }
}

.verticalSkeletonLines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}