.sumrNotTransferableWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--general-space-128);
}
.sumrNotTransferableWrapper .header {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-16);
  justify-content: center;
  margin-bottom: var(--general-space-64);
  padding: 0 var(--general-space-16);
}
.sumrNotTransferableWrapper .header > h2 {
  text-align: center;
}
.sumrNotTransferableWrapper .header > p {
  text-align: center;
  color: var(--earn-protocol-secondary-60);
}
.sumrNotTransferableWrapper .boxes {
  display: flex;
  justify-content: space-between;
  gap: var(--general-space-16);
  flex-wrap: wrap;
}
.sumrNotTransferableWrapper .boxes .box {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--general-space-8);
}
