.tableCellAllocationCapWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--general-space-8);

  .tableCellAllocationCapPercentTooltipWrapper {
    display: flex;
    align-items: center;
    gap: var(--general-space-4);
  }
}