.beachClubReferAndEarnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--general-space-64);
  width: 100%;

  .header {
    display: flex;
    justify-content: flex-start;
    gap: var(--general-space-16);
    width: 100%;
    margin-bottom: var(--general-space-24);
  }
}
