.cardWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1rem;
}

@keyframes transactionItemHeightFadeIn {
  from {
    opacity: 0;
    padding: 0 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    padding: 12px 0;
    transform: scaleY(1);
  }
}

.transactionItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
  padding: 12px 0;
  opacity: 0;
  animation: transactionItemHeightFadeIn 600ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: transform, opacity, padding;
  border-bottom: 1px solid rgba(71, 71, 71, 0.5);
}
.transactionItemLast {
  border-bottom: none;
}

.transactionActions {
  display: flex;
  align-items: center;
}

.noTransactions {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--color-text-secondary);
}

.noTransactionsIcon {
  margin-right: 8px;
  opacity: 0.6;
}

.transactionDescription span > span {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  border-radius: 4px;
}
