[submodule "packages/core-contracts/lib/openzeppelin-contracts"]
	path = packages/core-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/core-contracts/lib/forge-std"]
	path = packages/core-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
