.vaultManageGridBreadcrumbsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--general-space-12);
}

.vaultManageGridBreadcrumbsWrapper a {
  color: var(--earn-protocol-primary-100);
}

.vaultManageGridPositionWrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

@media screen and (min-width: 900px) {
  .vaultManageGridPositionWrapper {
    grid-template-columns: 1fr 446px;
    grid-gap: var(--general-space-16);
  }
}

.vaultManageGridPositionWrapper .leftBlock {
  display: grid;
  grid-gap: var(--general-space-16);
}

.vaultManageGridPositionWrapper .rightBlockWrapper {
  height: 100%;
  display: none;
}

.vaultManageGridPositionWrapper .rightBlockWrapper .rightBlock {
  position: sticky;
  top: var(--general-space-16);
  display: flex;
  flex-direction: column;
  gap: var(--general-space-16);
}

@media screen and (min-width: 900px) {
  .vaultManageGridPositionWrapper .rightBlockWrapper {
    display: block;
  }
}

.vaultManageGridPositionWrapper .rightExtraBlockMobileWrapper {
  margin-bottom: var(--general-space-16);
}

.rightBlockMobile {
  position: absolute;
  display: block;
}

.vaultManageGridTopLeftWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: var(--general-space-16);
}

.vaultManageGridTopLeftWrapper .vaultBonusWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.refreshManageWrapper {
  display: inline-block;
  bottom: -3px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.refreshingManage svg {
  opacity: 1;
  animation: rotate 1s linear infinite;
  color: var(--earn-protocol-primary-100);
}