.auditsHeaderWrapper {
  padding: 0 var(--spacing-space-small);
  max-width: 1057px;
  margin: 0 auto var(--spacing-space-2x-large) auto;

  >p {
    margin-bottom: var(--spacing-space-x-small)
  }

  @include media('>s') {
    padding: 0 var(--spacing-space-2x-large);
  }

  @include media('>xl') {
    padding: 0;
  }
}

.auditsHeader {
  font-weight: 600;

}

.auditBlocksWrapper {
  padding: var(--spacing-space-large) var(--spacing-space-small);
  max-width: 1057px;
  margin: 0 auto;

  @include media('>s') {
    padding: 0 var(--spacing-space-2x-large);
  }

  @include media('>xl') {
    padding: 0;
  }
}

.auditBlock {
  display: flex;
  flex-direction: column;

  @include media('>s') {
    padding-bottom: var(--spacing-space-medium);

  }

  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #3D3D3D;
  }

  .auditBlockImage {
    max-width: 300px;
    margin-bottom: var(--spacing-space-medium);
  }

  .auditDescription {
    color: var(--color-text-secondary);
    margin-bottom: var(--spacing-space-medium);
  }

  a {
    margin-bottom: var(--spacing-space-medium);
  }

  a,
  a * {
    color: var(--earn-protocol-primary-100);
  }
}

.auditBlock:last-of-type {
  hr {
    border-bottom: none;
  }
}