.bestOfDecentralizedFinanceHeaderWrapper {
  text-align: center;
  padding: 0 var(--spacing-space-3x-large);

  @include media('<=s') {
    padding: 0 var(--spacing-space-large);
  }
}

.bestOfDecentralizedFinanceHeader {
  font-weight: 600;
}

.bestOfDecentralizedFinanceBlockWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-space-medium);
  margin-top: 0;

  @include media('>s') {
    grid-template-columns: repeat(1, 1fr);
    padding: var(--spacing-space-2x-large) var(--spacing-space-2x-large) 0;
  }

  @include media('>l') {
    grid-template-columns: repeat(3, 1fr);
  }

  .bestOfDecentralizedFinanceBlock {
    padding: var(--spacing-space-large) var(--spacing-space-large) 0;

    @include media('>s') {
      padding: var(--spacing-space-x-large) var(--spacing-space-x-large) 0;
    }

    @include media('>l') {
      padding: var(--spacing-space-x-large) var(--spacing-space-x-large) 0;
    }
  }

  .bestOfDecentralizedFinanceBlockDescription {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-space-2x-small);

    p {
      color: var(--color-text-secondary);
    }
  }

  .chart {
    display: flex;
    gap: 20px;
    margin: 49px 0;

    img:first-child {
      width: 60%;
    }

    img:last-child {
      width: 35%;
    }

    @include media('>s') {
      img:first-child {
        width: 60%;
      }

      img:last-child {
        width: 35%;
      }
    }

    @include media('>m') {
      img:first-child {
        width: 55%;
      }

      img:last-child {
        width: 40%;
      }
    }
  }

  .ui {
    margin: 49px 0 0;
  }

  .protocols {
    margin: 50px auto 0 auto;
    text-align: center;
  }
}

.gradientLeftBox {
  background: linear-gradient(180deg, rgba(28, 28, 28, 0.2) 0%, rgba(175, 20, 92, 0.1) 79.63%, rgba(190, 0, 89, 0.2) 100%);
}

.gradientCenterBox {
  background: linear-gradient(178.55deg, rgba(28, 28, 28, 0.2) 13.48%, rgba(175, 20, 92, 0.1) 57.02%, rgba(28, 28, 28, 0.2) 100.56%);
}

.gradientRightBox {
  background: linear-gradient(180deg, rgba(28, 28, 28, 0.2) 0%, rgba(175, 20, 92, 0.1) 79.63%, rgba(190, 0, 89, 0.2) 100%);
}