.cryptoUtilitiesHeaderWrapper {
  padding: 0 var(--spacing-space-large);
  max-width: 1057px;
  margin: 0 auto;

  >p {
    margin-bottom: var(--spacing-space-x-small)
  }

  @include media('>s') {
    padding: 0 var(--spacing-space-2x-large);
  }

  @include media('>xl') {
    padding: 0;
  }
}

.cryptoUtilitiesHeader {
  font-weight: 600;

}

.cryptoUtilitiesBlockWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: var(--spacing-space-medium);
  padding: 0 var(--spacing-space-x-large);
  margin: 0 auto;
  margin-top: var(--spacing-space-x-large);
  flex-wrap: wrap;
  max-width: 1057px;

  @include media('>s') {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 var(--spacing-space-2x-large);
  }

  @include media('>l') {
    grid-template-columns: repeat(5, 1fr);
  }

  @include media('>xl') {
    padding: 0;
  }
}

.cryptoUtilityCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;

  @include media('<=s') {
    aspect-ratio: initial;
    width: 150px;
    height: 150px;
  }

  @supports not (aspect-ratio: 1 / 1) {
    width: 150px;
    height: 150px;
  }

  >span {
    color: var(--color-text-secondary);
  }
}