.wrapper {
  overflow: hidden;
}

.callout {
  text-align: left;
  padding: 88px var(--spacing-space-3x-large) 64px var(--spacing-space-3x-large);
  font-weight: 600;
  line-height: 40px;

  @include media('<=s') {
    padding: var(--general-space-40) var(--spacing-space-large);
    text-align: center;
  }

  & * {
    font-weight: 600;
    line-height: 40px;
  }
}

.uiImage {
  padding: 0 var(--general-space-40);
  margin-left: 30px; // image shadow makes it not centered, adding this to center it

  @include media('<=s') {
    padding: 0 var(--general-space-4);
    margin-left: 10px; // image shadow makes it not centered, adding this to center it
    text-align: center;
  }
}
