.faqSectionHeaderWrapper {
  padding: 0 var(--spacing-space-3x-large);

  @include media('<=s') {
    padding: 0 var(--spacing-space-large);
  }
}

.faqSectionHeader {
  font-weight: 600;
  color: var(--color-text-secondary);
}

.faqSectionBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--spacing-space-3x-large);
  margin-top: var(--spacing-space-x-large);

  @include media('<=s') {
    flex-wrap: wrap;
    padding: 0 var(--spacing-space-x-large);
  }

  >div {
    // expander wrapper
    padding: var(--spacing-space-large) 0;
    border-bottom: 1px solid rgba(61, 61, 61, 1);
  }

  >div:last-of-type {
    border-bottom: none;
  }

  .faqSectionExpanderContent {
    color: var(--color-text-secondary);
    padding: var(--spacing-space-medium);
  }
}