.higherYieldsHeaderWrapper {
  text-align: center;
  padding: var(--spacing-space-small);
  margin-bottom: var(--spacing-space-medium);
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1026px) {
  .higherYieldsHeaderWrapper {
    padding: 0;
  }
}

.lineBreak {
  display: none;
}

@media (min-width: 532px) {
  .lineBreak {
    display: block;
  }
}

@media (min-width: 1026px) {
  .lineBreak {
    display: none;
  }
}

.lineBreak2 {
  display: block;
}

@media (min-width: 532px) {
  .lineBreak2 {
    display: none;
  }
}

.higherYieldsHeader {
  font-weight: 600;
}

.higherYieldsSection {
  display: flex;
  flex-direction: column;
  padding-left: var(--spacing-space-medium);
}

@media (max-width: 531px) {
  .higherYieldsSection {
    padding-left: 0;
  }
}

.higherYieldsSection .higherYieldsSectionTitle {
  margin-bottom: 10px;
}

.higherYieldsSection .higherYieldsSectionDescription {
  color: var(--color-text-secondary);
}

.higherYieldsSection .higherYieldsSectionCTA {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-space-medium);
  margin: var(--spacing-space-large) 0;
}

.higherYieldsSection .higherYieldsSectionSecondaryButton {
  color: var(--earn-protocol-primary-100);
}

.higherYieldsSection .higherYieldsSectionStatsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: var(--spacing-space-medium);
}

@media (min-width: 532px) {
  .higherYieldsSection .higherYieldsSectionStatsWrapper {
    flex-direction: row;
  }
}

.higherYieldsSection .higherYieldsSectionStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-space-large);
}

.higherYieldsSection .higherYieldsSectionStats>p {
  color: var(--color-text-primary-disabled);
}