.higherYieldsHeaderWrapper {
  text-align: center;
  padding: var(--spacing-space-small);
  margin-bottom: var(--spacing-space-medium);
  max-width: 95%;
  margin: 0 auto;

  @include media('>s') {
    // padding: 0
  }

  @include media('>l') {
    padding: 0;
  }
}

.higherYieldsHeader {
  font-weight: 600;
}

.higherYieldsDetailsWrapper {
  display: grid;
  gap: var(--general-space-32);
  grid-template-columns: 1fr;
  padding: var(--spacing-space-small);

  @include media('>s') {
    grid-template-columns: 1fr;
    padding: var(--spacing-space-x-large) var(--spacing-space-x-large) 0;
  }

  @include media('>l') {
    grid-template-columns: 1fr 2fr;
    padding: var(--spacing-space-2x-large) var(--spacing-space-2x-large) 0;
  }
}

.higherYieldsDetailsButtons {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }

  @include media('>s') {
    flex-direction: row;
  }

  @include media('>l') {
    flex-direction: column;
    justify-content: right;
    overflow-x: visible;
  }
}

.higherYieldsDetailsButton {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #2b2b2b;
  padding: 20px;
  transition: border-right-color 0.2s ease;
  text-align: right;
  margin-right: 1px;
  text-wrap: nowrap;
  flex-shrink: 0;

  &:hover {
    border-bottom: 1px solid #494949;
  }

  @include media('>l') {
    border-right: 1px solid #2b2b2b;
    border-bottom: none;
    text-wrap: initial;

    &:hover {
      border-right: 1px solid #494949;
      border-bottom: none;
    }
  }

  &>span {
    color: var(--color-text-primary-disabled)
  }
}

.higherYieldsDetailsButtonActive {
  border-bottom: 2px solid #a859fa;
  margin-right: 0px;

  &:hover {
    border-bottom: 2px solid #a859fa;
  }

  @include media('>l') {
    border-right: 2px solid #a859fa;
    border-bottom: none;
    &:hover {
      border-right: 2px solid #a859fa;
      border-bottom: none;
    }
  }
}

@keyframes fadeIn {
  from {
    top: -10px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: 10px;
    opacity: 0;
  }
}

.higherYieldsDetailsContent {
  position: relative;
  animation: fadeIn 0.2s ease forwards;

  &FadingOut {
    animation: fadeOut 0.2s ease forwards;
  }
}

.higherYieldsSection {
  display: flex;
  flex-direction: column;
  padding-left: var(--spacing-space-medium);

  @include media('<=s') {
    padding-left: 0;
  }

  .higherYieldsSectionTitle {
    margin-bottom: 10px;
  }

  .higherYieldsSectionDescription {
    color: var(--color-text-secondary);
  }

  .higherYieldsSectionCTA {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-space-medium);
    margin: var(--spacing-space-large) 0;
  }

  .higherYieldsSectionSecondaryButton {
    color: var(--earn-protocol-primary-100);
  }

  .higherYieldsSectionStatsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: var(--spacing-space-medium);

    @include media('>s') {
      flex-direction: row;
    }
  }

  .higherYieldsSectionStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-space-large);

    &>p {
      color: var(--color-text-primary-disabled);
    }
  }
}