.startEarningNowHeaderWrapper {
  text-align: center;
  padding: 0 var(--spacing-space-3x-large);
}
@media (max-width: 531px) {
  .startEarningNowHeaderWrapper {
    padding: 0 var(--spacing-space-large);
  }
}

.startEarningNowHeader {
  font-weight: 600;
}

.startEarningNowBlockWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-space-medium);
  margin-top: 48px;
}
@media (min-width: 1026px) {
  .startEarningNowBlockWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tag {
  margin-bottom: var(--spacing-space-x-small);
}

.individualTag {
  color: var(--earn-protocol-primary-100);
}

.institutionsTag {
  color: rgb(176, 73, 255);
}

.startEarningNowCard {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-space-x-large) var(--spacing-space-x-large);
}
@media (min-width: 532px) {
  .startEarningNowCard {
    max-width: 60%;
    justify-self: center;
  }
}
@media (min-width: 1026px) {
  .startEarningNowCard {
    max-width: 100%;
    padding: var(--spacing-space-2x-large) var(--spacing-space-x-large);
  }
}
.startEarningNowCard > h5 {
  font-weight: 600;
  margin-bottom: var(--spacing-space-x-small);
}
.startEarningNowCard .ctaWrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.startEarningNowCard .ctaButton {
  background: var(--gradient-earn-protocol-dark);
}
.startEarningNowCard .ctaButtonDisabled {
  background: rgba(255, 255, 255, 0.1);
}

ul.startEarningNowPoints {
  list-style-type: none;
  padding: 0;
  margin: var(--spacing-space-x-small) 0 var(--spacing-space-large) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
}
ul.startEarningNowPoints > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-secondary);
  font-size: 15px;
}
ul.startEarningNowPoints > li > div {
  margin-right: var(--spacing-space-x-small);
}
