.summerProInfoBox {
  width: 100%;
  background-color: var(--earn-protocol-neutral-100);
  margin-bottom: 100px;
}
.summerProInfoBox > div {
  padding: var(--spacing-space-medium) var(--spacing-space-large);
}
@media (min-width: 531px) {
  .summerProInfoBox > div {
    padding: var(--spacing-space-large) var(--spacing-space-x-large);
  }
}
.summerProInfoBox span {
  margin-bottom: var(--general-space-4);
}
.summerProInfoBox span:last-child {
  margin-bottom: 0;
}
.summerProInfoBox .summerProInfoBoxLinks,
.summerProInfoBox .summerProInfoBoxLinks > * {
  color: var(--color-text-link-hover);
}

.summerProInfoBoxCard {
  justify-content: space-between;
}
@media (max-width: 530px) {
  .summerProInfoBoxCard {
    flex-direction: column;
    gap: 30px;
  }
}
