.summerProInfoBox {
  width: 100%;
  background-color: var(--earn-protocol-neutral-100);
  margin-bottom: 100px;

  &>div {
    padding: var(--spacing-space-medium) var(--spacing-space-large);

    @include media('>=s') {
      padding: var(--spacing-space-large) var(--spacing-space-x-large);
    }
  }

  & span {
    margin-bottom: var(--general-space-4);
  }

  & span:last-child {
    margin-bottom: 0;
  }

  .summerProInfoBoxLinks,
  .summerProInfoBoxLinks>* {
    color: var(--color-text-link-hover)
  }
}

.summerProInfoBoxCard {
  justify-content: space-between;

  @include media('<s') {
    flex-direction: column;
    gap: 30px;
  }
}