.summerProInfoBox {
  width: 515px !important; // should match the carousel element width
  background-color: var(--earn-protocol-neutral-100);

  @include media('<=s') {
    margin-top: var(--spacing-space-2x-large);
    width: 90% !important; // should match the carousel element width
  }

  &>div {
    padding: var(--spacing-space-large) var(--spacing-space-x-large);
  }

  & span {
    margin-bottom: var(--general-space-4);
  }

  .summerProInfoBoxLinks,
  .summerProInfoBoxLinks>* {
    color: var(--color-text-link)
  }
}