.availableNetworksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-space-3x-large);
  gap: var(--spacing-space-2x-large);
  color: var(--color-text-primary-disabled);

  @include media('<=s') {
    flex-direction: column;
    gap: var(--spacing-space-x-large);
    margin-top: var(--spacing-space-2x-large);
  }
}