.availableNetworksList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-space-2x-large);
  gap: var(--spacing-space-large);
  color: var(--color-text-primary-disabled);
}
@media (min-width: 532px) {
  .availableNetworksList {
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-space-x-large);
    margin-top: var(--spacing-space-3x-large);
  }
}
@media (min-width: 1026px) {
  .availableNetworksList {
    gap: var(--spacing-space-2x-large);
  }
}

.networkImages {
  display: flex;
  gap: var(--spacing-space-large);
  align-items: center;
}
@media (min-width: 531px) {
  .networkImages {
    gap: var(--spacing-space-x-large);
  }
}

.networkLogo {
  width: 80px;
  height: 25px;
  transition: transform 0.2s ease;
}
@media (min-width: 532px) {
  .networkLogo {
    width: 140px;
    height: 35px;
  }
}
@media (min-width: 1026px) {
  .networkLogo {
    width: 160px;
    height: 40px;
  }
}
.networkLogo:hover {
  transform: scale(1.1);
}
