.newsletterDescription {
  margin-top: var(--space-xxs);
  margin-bottom: var(--space-m);
  color: var(--color-text-secondary);
}

.newsletterInput {
  display: flex;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-l);
  background-color: var(--color-surface-neutral);
  border: var(--border-1);
  border-radius: var(--radius-50);
}

.input {
  color: var(--color-text-secondary);
  font-size: 14px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  width: 100%;
}

.newsletterButtonLabel {
  color: var(--color-text-secondary);
  cursor: pointer;
}

.newsletterStatusLabel {
  font-size: 14px;
  margin-top: var(--space-xs);
  padding: var(--space-m);
  color: var(--color-critical-100);
}

.acknowledgement {
  font-size: 14px;
  margin-top: var(--space-xs);
  padding: var(--space-m);
  background-color: var(--color-secondary-60);
  border-radius: var(--radius-16);
  display: none;
  color: var(--color-neutral-80);
}
.acknowledgementActive {
  display: block;
}

.newsletterSuccessWrapper {
  text-align: center;
  margin-top: var(--space-m);
}

.newsletterSuccessBackground {
  display: inline-flex;
  background-color: var(--color-secondary-60);
  border-radius: var(--radius-50);
  padding: var(--space-m) var(--space-l);
  align-items: center;
}

.newsletterSuccessIcon {
  display: flex;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(137.02deg, #2A30EE 0%, #A4A6FF 99.12%);
  border-radius: 50%;
}

p.newsletterSuccessLabel {
  color: var(--color-neutral-80);
  font-size: 12px;
  line-height: 18px;
  padding-left: var(--space-m);
  text-align: left;
}

p.newsletterSuccessLabelTitle {
  font-weight: bold;
  margin-bottom: var(--space-xs);
}
