.bannerWrapper {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  width: 90vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bannerWrapperVisible {
  height: 36px;
  display: flex;
  opacity: 1;
  pointer-events: all;
  margin-bottom: 20px;
}

.bannerWrapperWarning {
  background: linear-gradient(90deg,
      transparent 0%,
      var(--color-background-warning) 5%,
      var(--color-background-warning) 95%,
      transparent 100%);
  color: var(--color-text-warning);
}

.bannerWrapperCritical {
  background: linear-gradient(90deg,
      transparent 0%,
      var(--color-background-critical) 5%,
      var(--color-background-critical) 95%,
      transparent 100%);
  color: var(--color-text-critical);
}

.bannerWrapperSuccess {
  background: linear-gradient(90deg,
      transparent 0%,
      var(--color-background-success) 5%,
      var(--color-background-success) 95%,
      transparent 100%);
  color: var(--color-text-success);
}

.globalIssueBannerWrapper {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--general-space-16);
  background: linear-gradient(90deg,
      transparent 0%,
      var(--earn-protocol-primary-10) 5%,
      var(--earn-protocol-primary-10) 95%,
      transparent 100%);
  color: var(--earn-protocol-secondary-100);
  position: relative;
  z-index: 2;
}

.globalNoticeBannerWrapper {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--general-space-16);
  background: linear-gradient(90deg,
      transparent 0%,
      var(--earn-protocol-warning-10) 5%,
      var(--earn-protocol-warning-10) 95%,
      transparent 100%);
  color: var(--earn-protocol-warning-100);
  border-radius: var(--radius-large);
  margin-bottom: var(--spacing-space-large);
}