.bannerWrapper {
  width: calc(100vw - var(--general-space-16));
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 20px;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.bannerWrapperVisible {
  height: 36px;
  display: flex;
  opacity: 1;
  pointer-events: all;
}
.bannerWrapperWarning {
  background-color: var(--color-background-warning);
  color: var(--color-text-warning);
}
.bannerWrapperCritical {
  background-color: var(--color-background-critical);
  color: var(--color-text-critical);
}
.bannerWrapperSuccess {
  background-color: var(--color-background-success);
  color: var(--color-text-success);
}

.globalIssueBannerWrapper {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--general-space-16);
  background-color: var(--earn-protocol-critical-10);
  color: var(--earn-protocol-secondary-100);
}
