.dialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 250px;
}

.dial {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.track {
  fill: none;
  stroke: url(#trackGradient);
  stroke-width: var(--track-width, 3);
}

.progress {
  fill: none;
  stroke: url(#gradient);
  stroke-width: var(--track-width, 3);
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s;
}

.value {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trackWidth-1 {
  --track-width: 1px;
}

.trackWidth-2 {
  --track-width: 2px;
}

.trackWidth-3 {
  --track-width: 3px;
}

.trackWidth-4 {
  --track-width: 4px;
}
