.noPositionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 34px;
  margin-top: var(--general-space-20);
  text-align: center;
  gap: var(--general-space-16);
  background-color: var(--color-surface-subtler);
  border-radius: var(--general-radius-4);
}

.noPositionsWrapper p {
  color: var(--color-text-secondary);
}

.portfolioPositionsListWrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--general-space-16);
  flex-wrap: wrap;
}

.portfolioPositionsList {
  flex-direction: column;
  padding: var(--general-space-24);
}

@media (max-width: 743px) {
  .portfolioPositionsList {
    padding: var(--general-space-24) var(--general-space-8);
  }
}

.portfolioPositionsListHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--spacing-space-small);
}

@media (max-width: 743px) {
  .portfolioPositionsListHeader {
    padding: 0 var(--general-space-24) var(--general-space-24) var(--general-space-24);
  }
}

.portfolioPositionsListOptions {
  display: flex;
  align-items: center;
  gap: var(--general-space-48);
}

@media (max-width: 743px) {
  .portfolioPositionsListOptions {
    flex-direction: column;
    gap: var(--general-space-24);
    margin-top: var(--general-space-8);
  }
}