.default,
.smallXPaddings,
.smallLeftPadding,
.smallRightPadding {
  display: flex;
  align-items: center;
  min-height: 38px;
  border-radius: var(--radius-roundish);
  vertical-align: bottom;
  position: relative;
  padding-left: var(--general-space-12);
  padding-right: var(--general-space-12);
  font-size: 14px;
  font-weight: 500;
}

.childrenWrapper {
  display: inline-flex;
  align-items: center;
  column-gap: var(--general-space-8);
  height: 100%;
  position: relative;
}

.background1 {
  background: linear-gradient(90deg, rgba(255, 73, 164, 0.5) 0%, rgba(176, 73, 255, 0.5) 93%);
  opacity: 1;
  border-radius: var(--radius-roundish);
}

.background2 {
  background: linear-gradient(90deg, #ff49a4 0%, #b049ff 93%);
  opacity: 0;
  border-radius: var(--radius-roundish);
}

.superBackground {
  background-color: #EC8E34;
  opacity: 0.16;
  border-radius: var(--radius-roundish);
}

/* On hover, change opacity to make the second gradient appear */
.default:hover .background1 {
  opacity: 0;
}

.default:hover .background2 {
  opacity: 1;
}

.default:hover .superBackground {
  opacity: 0.4;
}

.background1,
.background2,
.superBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  z-index: 0;
}

.smallXPaddings {
  padding-left: var(--general-space-4);
  padding-right: var(--general-space-4);
}

.smallLeftPadding {
  padding-left: var(--general-space-4);
}

.smallRightPadding {
  padding-right: var(--general-space-4);
}