.default,
.smallXPaddings,
.smallLeftPadding,
.smallRightPadding {
  display: inline-flex;
  align-items: center;
  column-gap: var(--general-space-8);
  height: 38px;
  border-radius: var(--radius-roundish);
  backdrop-filter: var(--color-neutral-20);
  vertical-align: bottom;
  position: relative;
  padding-left: var(--general-space-12);
  padding-right: var(--general-space-12);
  position: relative;
  background: linear-gradient(90deg, rgba(255, 73, 164, 0.5) 0%, rgba(176, 73, 255, 0.5) 93%);
  font-size: 14px;
  font-weight: 500;
}

.smallXPaddings {
  padding-left: var(--general-space-4);
  padding-right: var(--general-space-4);
}

.smallLeftPadding {
  padding-left: var(--general-space-4);
}

.smallRightPadding {
  padding-right: var(--general-space-4);
}
