.portfolioRewardsCountdownWrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--general-space-16);

  .newsletterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex: 1;

    .customNewsletterSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      @media (min-width: 768px) {
        input {
          min-width: 352px;
        }
      }
    }
  }

  .countdownWrapper {
    width: fit-content;
    align-items: center;
  }
}
