.faqGeneralWrapper {
  width: 100%;
}

.faqSectionBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--general-space-16);
  flex-wrap: wrap;

  @include media('>m') {
    flex-wrap: nowrap;

    > div {
      padding: var(--spacing-space-large) 0;
    }
  }

  > div {
    padding: var(--spacing-space-x-small) 0;
    border-bottom: 1px solid var(--earn-protocol-neutral-70);
  }

  > div:last-of-type {
    border-bottom: none;
  }

  .faqSectionExpanderContent {
    color: var(--color-text-secondary);
    padding: var(--spacing-space-medium);
  }
}
