.faqGeneralWrapper {
  width: 100%;
}

.faqSectionHeader {
  font-weight: 600;
}

.faqSectionBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--general-space-16);

  @include media('<=s') {
    flex-wrap: wrap;
  }

  > div {
    padding: var(--spacing-space-large) 0;
    border-bottom: 1px solid var(--earn-protocol-neutral-70);
  }

  > div:last-of-type {
    border-bottom: none;
  }

  .faqSectionExpanderContent {
    color: var(--color-text-secondary);
    padding: var(--spacing-space-medium);
  }
}
