.valuesWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--space-l) var(--space-l);
}

.valueBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.amountInput {
  width: 100%;
  border-radius: var(--radius-8);
}
