.navigationMenuDropdownContentListHeader {
  margin-top: var(--space-m);
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  margin-bottom: -8px;
  color: var(--color-neutral-80);
}

.navigationMenuDropdownContentListWrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigationMenuDropdownContentListWrapperItem {
  border-radius: var(--radius-12);
  transition: 200ms background-color;
}

.navigationMenuDropdownContentListWrapperItemLink {
  display: block;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}
.navigationMenuDropdownContentListWrapperItemLinkTight {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.itemHoverEffectDefault {
  cursor: default;
  background-color: var(--color-neutral-30);
}
.itemHoverEffectDefault :global .star-with-effect {
  color: var(--color-interactive-100);
}
.itemHoverEffectDefault :global .nav-icon {
  background-color: var(--color-interactive-100);
  color: var(--color-neutral-10);
}
.itemHoverEffectDefault :global .heading-with-effect, .itemHoverEffectDefault :global .tag-with-effect {
  color: transparent;
}
.itemHoverEffectDefault :global .heading-with-effect::after, .itemHoverEffectDefault :global .tag-with-effect::after {
  opacity: 1 !important;
}

:global .star-with-effect svg {
  margin: 0px var(--space-xxs) 0px 0px;
}

.itemHoverEffectHover {
  cursor: pointer;
}
.itemHoverEffectHover:hover {
  background-color: var(--color-neutral-30);
  cursor: default;
}
.itemHoverEffectHover:hover :global .star-with-effect {
  color: var(--color-interactive-100);
}
.itemHoverEffectHover:hover :global .nav-icon {
  color: var(--color-neutral-10);
  background-color: var(--color-interactive-100);
}
.itemHoverEffectHover:hover :global .heading-with-effect, .itemHoverEffectHover:hover :global .tag-with-effect {
  color: transparent;
}
.itemHoverEffectHover:hover :global .heading-with-effect::after, .itemHoverEffectHover:hover :global .tag-with-effect::after {
  opacity: 1 !important;
}
