button.walletButtonMock {
  min-height: auto;
  line-height: 22px;
  height: 40px;
  min-width: 40px;
  width: auto;
  box-shadow: var(--shadow-depth-1);
  background-color: var(--color-neutral-10);
}