.navigationMenu {
  transition: opacity 200ms;
  opacity: 0;
}
.navigationMenuActive {
  opacity: 1;
}

.navigationMenuDropdownWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.navigationMenuDropdownBlock {
  justify-content: center;
  width: 100%;
  padding: var(--space-m);
  border-radius: var(--radius-12);
  background-color: var(--color-neutral-10);
  box-shadow: var(--shadow-depth-1);
  overflow: hidden;
  transition: transform 200ms;
  transform: translateY(-5px);
}
.navigationMenuDropdownBlockActive {
  transform: translateY(0);
}

.navigationMenuDropdownBlockInside {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navigationMenuDropdownBlockInsideActive {
  transition: height 200ms;
}

.navigationMenuDropdownPanelWrapper {
  display: flex;
  position: absolute;
  width: 100%;
  opacity: 0;
}
.navigationMenuDropdownPanelWrapperIsCurrentPanel {
  opacity: 1;
}
.navigationMenuDropdownPanelWrapperIsPanelSwitched {
  transition: opacity 200ms, transform 200ms;
}

.navigationMenuPointer {
  position: absolute;
  top: 100%;
  left: -7px;
  margin-top: 3px;
  transform: translateY(20px);
  transition: transform 200ms;
  z-index: 2;
}
.navigationMenuPointerActive {
  transform: translateY(0);
}
.navigationMenuPointer .arrow {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background: var(--color-neutral-10);
}
.navigationMenuPointer .arrowActive {
  transition: transform 200ms;
}
