.navigationMenuDropdownContentIconWrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.navigationMenuDropdownContentIconWrapperGlobal {
  width: 40px;
  height: 40px;
}

.navigationMenuDropdownContentIcon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: var(--radius-circle);
  color: var(--color-neutral-80);
  background-color: var(--color-neutral-30);
  transition: 200ms color, 200ms background-color;
}
