.wrapper {
  padding: var(--space-m);
}

.container {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-items: flex-end;
  z-index: 3;
  max-width: 1408px;
  margin: var(--space-l) auto var(--space-xxl);
  @include media('>s') {
    grid-template-columns: auto auto;
  }
  @include media('>l') {
    grid-template-columns: auto auto auto;
  }
  @include media('>xl') {
    grid-template-columns: 1fr auto 1fr;
  }
}

.logoWrapper {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-right: auto;
  img {
    height: 22px;
    display: none;
  }
  .logo {
    width: 129px;
    @include media('>s') {
      display: inline;
    }
  }
  .logoSmall {
    width: 25px;
    @include media('<=s') {
      display: inline;
    }
  }
}
