.navigationMenuDropdownContentListHeader {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  margin-bottom: -8px;
  color: var(--color-neutral-80)
}

.navigationMenuDropdownContentListWrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigationMenuDropdownContentListWrapperItem {
  border-radius: var(--radius-12);
  transition: 200ms background-color;
}

.navigationMenuDropdownContentListWrapperItemLink {
  display: block;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  &Tight {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }
}

.itemHoverEffectDefault {
  cursor: default;
  background-color: var(--color-neutral-30);
  :global .star-with-effect {
    color: var(--color-interactive-100);
  }
  :global .nav-icon {
    background-color: var(--color-interactive-100);
    color: var(--color-neutral-10);
  };
  :global .heading-with-effect, :global .tag-with-effect {
    color: transparent;
    &::after {
      opacity: 1 !important;
    }
  }
}
:global .star-with-effect {
  svg {
    margin: 0px var(--space-xxs) 0px 0px;
  }
}

.itemHoverEffectHover {
  cursor: pointer;
  &:hover {
    background-color: var(--color-neutral-30);
    cursor: default;
    :global .star-with-effect {
      color: var(--color-interactive-100);
    }
    :global .nav-icon {
      color: var(--color-neutral-10);
      background-color: var(--color-interactive-100);
    };
    :global .heading-with-effect, :global .tag-with-effect {
      color: transparent;
      &::after {
        opacity: 1 !important;
      }
    }
  }
}