.navigationMenuDropdownContentFirstColumn {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: var(--space-m);
  list-style: none;
  width: 294px;
  margin-left: 0;
  margin-right: var(--space-m);
  padding-left: 0;
  padding-right: var(--space-m);
}
.navigationMenuDropdownContentFirstColumn::after {
  content: "";
  position: absolute;
  width: 1px;
  min-height: 100%;
  left: 100%;
  top: 0;
  height: var(--navigation-dropdown-content-dynamic-height);
  background-color: var(--color-neutral-20);
  transition: height 200ms;
}

.navigationMenuDropdownContentFirstColumnLi {
  display: flex;
  row-gap: var(--space-m);
  flex-direction: column;
  width: 100%;
}

.navigationMenuDropdownContentSecondColumn {
  position: relative;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: transform 250ms;
}

.navigationMenuDropdownContentSecondColumnLi {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  row-gap: var(--space-m);
  flex-direction: column;
  width: 100%;
  transition: opacity 250ms, transform 250ms;
  opacity: 0;
}
.navigationMenuDropdownContentSecondColumnLiActive {
  opacity: 1;
}
