.navigationMenuMobileWrapper {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  padding: 16px 16px 0px;
  transition: right 0.2s ease-in-out;
}
@media (min-width: 1026px) {
  .navigationMenuMobileWrapper {
    display: none;
  }
}
.navigationMenuMobileWrapperActive {
  right: 0;
}

.navigationMenuMobileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-neutral-20);
}

.navigationMenuMobileUl {
  flex-direction: column;
  row-gap: 24px;
  height: 100%;
  padding-top: 1rem;
  padding-left: 0;
  list-style: none;
  overflow-y: auto;
}

.navigationMenuMobileLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  column-gap: 4px;
  width: 100%;
  padding: 14px 16px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  font-weight: 600;
  border-radius: var(--radius-8);
  background-color: var(--color-neutral-10);
  transition: color 200ms, background-color 200ms;
}
.navigationMenuMobileLink:hover {
  color: var(--color-primary-100);
  background-color: var(--color-neutral-30);
}
.navigationMenuMobileLinkIsOpen {
  color: var(--color-primary-100);
}
