.networkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: var(--border-1);
  border-radius: var(--radius-circle);
}

.networkIconWrapper {
  width: 12px;
  height: 12px;
  position: relative;
}
