.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-small);
  padding: var(--spacing-space-medium) 0;
  margin-top: var(--general-space-20);
  margin-bottom: var(--general-space-12);
}

.description {
  color: var(--color-text-secondary);
  text-align: center;
}

.confirmationWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--general-space-24);
  gap: var(--general-space-24);
}
