.claimDelegateHeaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: var(--general-space-24);
  width: 100%;
}
.claimDelegateHeaderWrapper .pathLinkWrapper {
  display: flex;
  gap: var(--general-space-8);
  margin-bottom: var(--general-space-12);
}
