.approvalText {
  display: inline-block;
  color: var(--color-text-secondary);
  margin-top: var(--spacing-space-x-large);
  margin-bottom: var(--spacing-space-x-large);
}

.customApprovalInputWrapper {
  height: 54px;
  border-radius: var(--radius-medium);
  margin-left: var(--general-radius-32);
  background-color: var(--color-surface-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--spacing-space-medium) 0 0;
}

.customApprovalInput {
  height: 54px;
  text-align: left;
  font-size: 16px;
  line-height: 54px;
  font-weight: 600;
  line-height: 24px;
  padding: 0 0 0 var(--spacing-space-medium);
  margin-right: var(--spacing-space-medium);
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: var(--color-text-primary-disabled);
  }

  &.disabled {
    pointer-events: none;
    color: var(--color-text-primary-disabled);
  }
}

.maxButtonDisabled {
  opacity: 0.5;
}