.controlsSwitchTransactionView {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
}

.vaultsWrapper {
  display: flex;
  gap: var(--spacing-space-x-small);
  margin-top: var(--spacing-space-large);
  align-items: center;
}

.vaultBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--radius-roundish);
  background-color: var(--color-surface-subtle);
  padding: var(--spacing-space-medium);
  align-items: center;
}

.vaultBoxCurrent {
  background-color: var(--color-surface-subtler);
  border: 1px solid transparent;
}

.vaultBoxFromTo {
  color: var(--color-text-primary-disabled);
  margin-bottom: var(--spacing-space-small);
  width: 100%;
}

.arrowBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: 0 -24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-circle);
  background: linear-gradient(90deg, #FF49A4 0%, #B049FF 93%);
  position: relative;
  z-index: 1;
  border: 2px solid var(--color-surface-subtler);
}

.divider {
  height: 1px;
  width: calc(100% + 32px);
  background-color: #1C1C1C;
  margin: var(--spacing-space-medium) -16px var(--spacing-space-small);
}

.totalSwitchingBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-surface-subtler);
  border-radius: var(--radius-roundish);
  padding: var(--spacing-space-medium);
}

.totalSwitchingBoxTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-space-x-small);
}

.whatsChangingBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--general-space-8);
}

.manualSetAmountControls {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-space-x-small);
  margin-bottom: var(--spacing-space-medium);
}
