.controlsSwitchSuccessErrorView {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
}

.vaultsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-small);
  margin-top: var(--spacing-space-large);
  align-items: center;
}

.vaultBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--radius-roundish);
  background-color: var(--color-surface-subtle);
  padding: var(--spacing-space-large);
}

.vaultBoxTitleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-space-x-small);
}

.vaultBoxCurrent {
  background-color: var(--color-surface-subtler);
  border: 1px solid transparent;
}

.arrowBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: -24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-circle);
  background: linear-gradient(90deg, #FF49A4 0%, #B049FF 93%);
  transform: rotate(90deg);
  position: relative;
  z-index: 1;
  border: 2px solid var(--color-surface-subtler);
}
