.depositViewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-space-x-large) 0;
  gap: var(--spacing-space-small);
}

.depositDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-space-small);
  background-color: var(--color-surface-subtler);
  border-radius: var(--radius-large);
  padding: var(--spacing-space-medium);
  margin-top: var(--spacing-space-medium);
  color: var(--color-text-secondary);
}
.depositDetails .depositDetailsTitle {
  color: var(--color-text-primary-disabled);
}
.depositDetails .depositDetailsValue {
  color: var(--color-text-primary);
  text-align: right;
}

.multipleTokensWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-space-small);
}
