.editValueModalWrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.editTokenModalInput {
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  border: none;
}

.defaultUnderlineOnHover {
  color: var(--color-text-link);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .disabledDefaultUnderlineOnHover {
    color: var(--color-text-disabled);
    cursor: not-allowed;
    text-decoration: none;
  }
}
