.editValueModalWrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.editTokenModalInput {
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  border: none;
}

.defaultUnderlineOnHover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
