.dropdown {
  position: relative;
  display: inline-block;

  &Selected {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    justify-content: space-between;
    gap: 8px;
    width: max-content;
  }

  &Options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--earn-protocol-neutral-80);
    color: #fff;
    width: max-content;
    border-radius: var(--general-radius-16);
    margin-top: var(--general-space-4);
    z-index: 10;
    padding: var(--general-space-8);
    font-size: var(--font-size-14);

    max-height: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }

  &OverflowWrapper {
    scrollbar-color: grey transparent;
    scrollbar-width: thin;
    overflow-y: auto;
    max-height: 210px;
  }

  &Show {
    max-height: 280px; // Set a max-height for the dropdown (adjust as necessary)
    opacity: 1;
    visibility: visible;
    pointer-events: all
  }

  &Option {
    display: flex;
    align-items: center;
    padding: 9px 9px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 2px;
    gap: 8px;

    &:hover {
      background-color: var(--earn-protocol-neutral-60);
    }
  }

  &Option.selected {
    background-color: var(--earn-protocol-neutral-60);
  }

  .mobileContentWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 40vh;
  }
}

.dropdownOption>span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.searchInput {
  height: 36px;
  padding: var(--general-space-8);
  padding-left: 34px;
  color: var(--earn-protocol-secondary-80);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-roundish);
  font-size: 14px;
  text-align: left;
  margin-bottom: var(--general-space-8);

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: var(--color-border-hover);
  }

  &::placeholder {
    color: var(--earn-protocol-secondary-40);
  }
}