.hasAccent {
  padding-left: calc(var(--general-space-8) * 2);
}

.dataBlockWrapper {
  display: flex;
  flex-direction: column;

  &.centered {
    align-items: center;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;

    .accent {
      display: inline;
      width: var(--general-space-8);
      height: var(--general-space-8);
      border-radius: var(--radius-circle);
      margin-left: calc(var(--general-space-8) * -2);
      margin-right: var(--general-space-8);
    }
  }

}