.hasAccent {
  padding-left: calc(var(--general-space-8) * 2);
}

.dataBlockWrapper {
  display: flex;
  flex-direction: column;
}
.dataBlockWrapper.centered {
  align-items: center;
}
.dataBlockWrapper .titleWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}
.dataBlockWrapper .titleWrapper .accent {
  display: inline;
  width: var(--general-space-8);
  height: var(--general-space-8);
  border-radius: var(--radius-circle);
  margin-left: calc(var(--general-space-8) * -2);
  margin-right: var(--general-space-8);
}
