.h1,
.h2,
.h3,
.h4,
.h5,
.h1colorful,
.h2colorful,
.h3colorful,
.h4colorful,
.h5colorful {
  font-family: var(--font-ft-polar);
  letter-spacing: -2%;
}

.h1,
.h2,
.h3,
.h1colorful,
.h2colorful,
.h3colorful {
  font-weight: 600;
}

.h4,
.h5,
.h4colorful,
.h5colorful {
  font-weight: 600;
}

.h1,
.h1colorful {
  font-size: 52px;
  line-height: 64px;
}

.h2,
.h2colorful {
  font-size: 40px;
  line-height: 54px;
}

.h3,
.h3colorful {
  font-size: 32px;
  line-height: 44px;
}

.h4,
.h4colorful {
  font-size: 28px;
  line-height: 40px;
}

.h5,
.h5colorful {
  font-size: 20px;
  line-height: 32px;
}

.p1,
.p1semi,
.p1colorful,
.p1semiColorful {
  font-size: 18px;
  line-height: 28px;
}

.p2,
.p2semi,
.p2colorful,
.p2semiColorful {
  font-size: 16px;
  line-height: 24px;
}

.p3,
.p3semi,
.p3colorful,
.p3semiColorful {
  font-size: 14px;
  line-height: 22px;
}

.p4,
.p4semi,
.p4colorful,
.p4semiColorful {
  font-size: 12px;
  line-height: 20px;
}

.p1semi,
.p2semi,
.p3semi,
.p4semi,
.p1semiColorful,
.p2semiColorful,
.p3semiColorful,
.p4semiColorful {
  font-weight: 600;
}

.hidden {
  font-size: inherit;
  color: transparent;
  position: absolute;
}

.p1colorful,
.p2colorful,
.p3colorful,
.p4colorful,
.p1semiColorful,
.p2semiColorful,
.p3semiColorful,
.p4semiColorful,
.h1colorful,
.h2colorful,
.h3colorful,
.h4colorful,
.h5colorful {
  background-image: var(--gradient-summer-fi-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
