.positionWrapper {
  width: 100%;
  padding: var(--general-space-12);
}

.basicInfoWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-space-2x-large);

  @include media('<=s') {
    flex-direction: column;
  }
}

.strategyInfoTopWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  &>* {
    white-space: nowrap;
  }

  .header {
    color: var(--color-text-secondary);
  }

  .value {
    color: var(--color-text-primary);
  }

}

.graphWrapper {
  display: flex;
  justify-content: center;
  gap: 100px;

  @include media('<=s') {
    flex-direction: column;
  }
}