.positionWrapper {
  width: 100%;
  padding: unset;

  @media (min-width: 768px) {
    padding: var(--general-space-12);
  }
}

.basicInfoWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-space-medium-large);
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 1279px) {
    gap: var(--spacing-space-2x-large);
  }

  .titleWithRisk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--general-space-16);

    @media (min-width: 1024px) {
      width: 30%;
    }
  }
}

.strategyInfoTopWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  & > * {
    white-space: nowrap;
  }

  .header {
    color: var(--color-text-secondary);
  }

  .value {
    color: var(--color-text-primary);
  }
}

.graphWrapper {
  display: flex;
  justify-content: center;
  gap: 100px;

  @include media('<=s') {
    flex-direction: column;
  }
}
