.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: var(--general-space-16);
}

.description {
  margin-bottom: var(--general-space-16);
  color: var(--earn-protocol-secondary-60);
}

.link {
  margin-bottom: var(--general-space-40);
}

.boostCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-8);
}

.boostCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
