.additionalBonusLabelWrapper {
  display: flex;
  gap: var(--general-space-4);
  align-items: center;
  cursor: pointer;
}
.additionalBonusLabelWrapper > div {
  display: flex;
  gap: var(--general-space-4);
  padding: var(--general-space-8);
  align-items: center;
}

.additionalBonusTooltipWrapper {
  display: flex;
  flex-direction: column;
}

.additionalBonusTooltipTitle {
  display: flex;
  gap: var(--general-space-4);
  align-items: center;
  white-space: pre;
}
