.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-16);
}

.portfolioYourStakedSumrCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--general-space-16);
}

.portfolioYourStakedSumrCardsWrapper .cardWrapper {
  flex: 1;
  min-width: 250px;
}

@media (min-width: 768px) {
  .portfolioYourStakedSumrCardsWrapper .cardWrapper {
    min-width: 420px;
  }
}

.whyCard {
  padding: 8px 14px;
}

.expanderTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.expanderContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 8px;
}

.expanderDescription {
  color: var(--color-text-secondary);
}

.whyCardsRow {
  display: flex;
  gap: 24px;
}

@media (max-width: 744px) {
  .whyCardsRow {
    flex-direction: column;
  }
}

.whyGradientBox {
  pointer-events: none;
}

.whyCardInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.whyCardButton {
  min-width: auto;
  padding: 20px;
}

.centerText {
  text-align: center;
}

.stakeButton {
  min-width: unset;
  width: fit-content;
  margin: 0 auto 12px;
}

.actionableCritical {
  color: var(--color-text-critical);
  cursor: pointer;
}

.actionablePrimary {
  color: var(--earn-protocol-primary-100);
  cursor: pointer;
}

.textSuccess {
  color: var(--color-text-success);
}

.noSumrBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px 0;
  gap: 24px;
}

.noSumrGradientBox {
  cursor: unset !important;
}

.noSumrTextDisabled {
  color: var(--color-text-primary-disabled);
}

.noSumrInner {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
}

.noSumrCount {
  color: white;
}