.sendFormOrderInformationWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--general-space-32);

  .spacer {
    border-top: 1px solid var(--earn-protocol-neutral-100);
    width: 100%;
    margin-bottom: var(--general-space-24);
  }
}
