.tooltipWrapper {
  display: flex;
  position: relative;
  color: inherit;
}

.tooltip,
.tooltipOpen,
.tooltipOpenAbove {
  background-color: unset;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  border-radius: var(--radius-12);
  max-width: 400px;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tooltip {
  transform: translateY(10px);
}

.tooltipOpen {
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(21px);
}

.tooltipOpenAbove {
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
  top: 0;
  transform: translateY(-21px);
}
