.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: var(--space-s) var(--space-xs);

    @include media('>s') {
      padding: var(--space-s);
    }
  }

  th {
    color: var(--color-neutral-80);
  }

  .leftAlign {
    text-align: left;
  }

  .rightAlign {
    text-align: right;
  }
}
