.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: var(--space-s) var(--space-xs);
}
@media (min-width: 532px) {
  .table th,
  .table td {
    padding: var(--space-s);
  }
}
.table th {
  color: var(--color-neutral-80);
}
.table .leftAlign {
  text-align: left;
}
.table .rightAlign {
  text-align: right;
}
