.selectContainer {
  position: relative;
  width: 200px;
}

.styledSelect {
  padding: 10px;
  font-size: 16px;
  border: var(--border-1);
  border-radius: var(--radius-8);
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.styledSelect .arrow {
  margin-left: 10px;
}

.selectOptions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.selectOption,
.selectedOption {
  text-transform: capitalize;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.selectOption:hover {
  background-color: var(--color-neutral-20);
}

.selectedOption {
  background-color: var(--color-neutral-30);
}
