.panelOverviewWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-large);

  .panelOverviewItem {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-space-large);
  }

  .panelOverviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}