.subLandingPageSectionWrapper {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-space-3x-large);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .subLandingPageSectionWrapper {
    padding: var(--spacing-space-medium);
    max-width: 100%;
  }
}