.default,
.smallXPaddings,
.smallLeftPadding,
.smallRightPadding {
  display: inline-flex;
  align-items: center;
  column-gap: var(--space-xs);
  height: 30px;
  border: var(--border-1);
  border-radius: var(--radius-16);
  backdrop-filter: var(--color-neutral-20);
  vertical-align: bottom;
  position: relative;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  position: relative;
}

.smallXPaddings {
  padding-left: var(--space-xxs);
  padding-right: var(--space-xxs);
}

.smallLeftPadding {
  padding-left: var(--space-xxs);
}

.smallRightPadding {
  padding-right: var(--space-xxs);
}
