.migrationLandingPageViewWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--general-space-16);
  width: 100%;

  .headerWrapper {
    display: flex;
    flex-direction: column;

    a {
      margin-top: var(--general-space-12);
      color: var(--earn-protocol-primary-100);
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--general-space-24);

    .cardsWrapper {
      display: flex;
      gap: var(--general-space-24);
      flex-wrap: wrap;
      margin-top: var(--general-space-8);
    }

    .mainContentWrapper {
      display: flex;
      flex-direction: column;
      gap: var(--general-space-32);

      .mainContentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--general-space-16);
        flex-wrap: wrap;
        gap: var(--general-space-16);
      }

      .positionsWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--general-space-16);
        width: 100%;

        .positionsHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .positionsListWrapper {
          width: 100%;
          text-align: center;

          .positionsList {
            display: flex;
            flex-direction: column;
            gap: var(--general-space-16);
            width: 100%;
            padding-top: var(--general-space-16);
          }
        }

        .showAllPositions {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      .vaultsWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--general-space-16);
        width: 100%;

        .vaultsHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: var(--general-space-16);
        }

        .vaultsList {
          @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--general-space-16);
          }

          @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: var(--general-space-16);
          }
        }
      }
    }
  }
}
