.panelManageInternalUsersWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-space-x-large);

}

.usersSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-bottom-left-radius: var(--radius-large);
  border-bottom-right-radius: var(--radius-large);
  overflow: hidden;
}

.tableRow:nth-child(odd):hover {
  background-color: rgba(20, 20, 20, 0.5);
}

.tableRow:nth-child(even) {
  background-color: rgba(30, 30, 30, 0.5);
}

.tableRow:nth-child(even):hover {
  background-color: rgba(20, 20, 20, 0.5);
}

.tableHeader {
  text-align: left;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
  padding: 8px;
  font-weight: 600;
}

.tableCell {
  padding: 8px;
  vertical-align: middle;
  font-size: 14px;
}

.tableCellContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addUserForm,
.removeUserForm,
.editUserForm {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: flex-end;
}

.submitButton {
  width: fit-content;
  align-self: end;
}

.formFields {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.formField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.formField input[type="file"] {
  max-width: 200px;
}

.formField input:not([type="file"]),
.formField select {
  border: 1px solid rgba(150, 150, 150, 0.2);
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  width: 100%;
}

.formLabel {
  font-weight: 600;
}

.addUserButton {
  width: fit-content;
}