.portfolioRewardsCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--general-space-16);

  .cardWrapper {
    flex: 1;
    min-width: 250px;

    @media (min-width: 768px) {
      min-width: 420px;
    }
  }

  .votingPower {
    display: flex;
    align-items: center;
    gap: var(--general-space-4);
  }
}
