.portfolioRewardsCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--general-space-16);
}
.portfolioRewardsCardsWrapper .cardWrapper {
  flex: 1;
  min-width: 250px;
}
@media (min-width: 768px) {
  .portfolioRewardsCardsWrapper .cardWrapper {
    min-width: 420px;
  }
}
.portfolioRewardsCardsWrapper .votingPower {
  display: flex;
  align-items: center;
  gap: var(--general-space-4);
}
