.cardPrimary,
.cardSecondary,
.cardPrimarySmallPaddings,
.cardSecondarySmallPaddings {
  display: flex;
  width: 100%;
  border-radius: var(--radius-24);
}

.cardPrimary,
.cardSecondary {
  padding: var(--space-l);
}

.cardPrimary,
.cardPrimarySmallPaddings {
  background-color: #232323;
}

.cardSecondary,
.cardSecondarySmallPaddings {
  background-color: #2b2b2b;
}

.cardPrimarySmallPaddings,
.cardSecondarySmallPaddings {
  padding: var(--space-s);
}
