.inputWrapper {
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    @include media('<=m') {
      margin: initial;
      margin-bottom: -65px;
    }
}