.headingWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--space-xl);
  color: var(--color-neutral-70);
}

.leaderboardSkeletonWrapper {
  width: 100%;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  margin-top: 20px;
}
