.leaderboardWrapper {
  width: 100%;
}

.headingWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: var(--space-m);
  margin-bottom: var(--space-l);
}

.errorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--space-xl);
  color: var(--color-neutral-70);
}

.leaderboardSkeletonWrapper {
  width: 100%;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  margin-top: 20px;
}

.positionColumn {
  min-width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 1025px) {
  .positionColumn {
    min-width: 160px;
  }
}
@media (max-width: 531px) {
  .positionColumn {
    flex-direction: column;
  }
}

.userColumn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60px;
  font-family: var(--font-ft-polar);
}
.userColumn svg {
  opacity: 0.2;
  stroke: var(--color-primary-60);
  margin-left: 10px;
  margin-top: -3px;
  transition: opacity 0.2s, stroke 0.2s;
}
.userColumn svg:hover {
  stroke: var(--color-primary-100);
}
.userColumn:hover svg {
  cursor: pointer;
  opacity: 1;
}
@media (min-width: 531px) {
  .userColumn {
    max-width: 150px;
  }
}
@media (min-width: 744px) {
  .userColumn {
    max-width: 250px;
  }
}
@media (min-width: 1025px) {
  .userColumn {
    max-width: 100%;
  }
}

.youreHere {
  padding-left: 12px;
  height: 30px;
}
@media (max-width: 531px) {
  .youreHere {
    position: absolute;
    top: -20px;
    padding-left: 0;
  }
  .youreHere p {
    font-size: 12px;
  }
}

.portfolioLink {
  color: var(--color-neutral-80);
}
@media (max-width: 531px) {
  .portfolioLink {
    font-size: 14px;
    line-height: 1.3rem;
  }
}

.rankChange {
  width: 100%;
  font-size: 14px;
  margin-left: 14px;
}
@media (max-width: 531px) {
  .rankChange {
    margin-left: 0;
  }
}
