.claimDelegateStepWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--general-space-16);
  width: 100%;
  min-height: 650px;

  .leftContent {
    display: grid;
    grid-template-areas:
      "delegate"
      "info"
      "rewards"
      "self";
    grid-template-columns: 1fr;
    gap: 0;
    width: 100%;

    @include media('>s') {
      gap: var(--general-space-24);
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "delegate delegate"
      "info rewards"
      "self self";
    }

    > *:nth-child(1) { grid-area: delegate; }
    > *:nth-child(2) { grid-area: info; }
    > *:nth-child(3) { grid-area: rewards; }
    > *:nth-child(4) { grid-area: self; }

    @include media('>l') {
      display: flex;
      max-width: 359px;
      flex-direction: column;
    }

    .cardWrapper {
      flex-direction: column;
      gap: var(--general-space-4);
      align-items: center;
      max-width: 100%;
      margin-bottom: var(--general-space-32);

      @include media('>l') {
        max-width: 560px;
      }

      .valueWithIcon {
        display: flex;
        align-items: center;
        gap: var(--general-space-16);
      }
    }

    .selfDelegateCard {
      margin-top: var(--general-space-32);
    }

    .spacer {
      border-bottom: 1px solid var(--earn-protocol-neutral-60);
      width: 100%;
      margin: var(--general-space-24) 0;
      display: block;

      @include media('>s') {
        display: none;
      }

      @include media('>l') {
        display: block;
      }
    }
  }

  .rightContent {
    display: flex;
    flex-direction: column;
    max-width: 585px;
    width: 100%;

    .rightContentHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--general-space-16);
      margin-bottom: var(--general-space-16);

      .inputWrapper {
        width: 100%;

        @media (min-width: 768px) {
          max-width: 345px;
        }

        .inputCustomStyles {
          font-size: 14px;
        }
      }

      .sortWrapper {
      }
    }

    .delegates {
      display: flex;
      flex-direction: column;
      max-height: 700px;
      overflow-y: auto;
      scrollbar-color: grey transparent;
      scrollbar-width: thin;
      height: 100%;
    }

    .buttonsWrapper {
      margin-top: var(--general-space-32);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: var(--general-space-16);
    }
  }
}
