.wrapper {
  width: 600px;
  flex-direction: column;
}

.sectionTitle {
  font-weight: 600;
  margin-bottom: 18px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 12px;
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.input {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
}

.textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid rgba(200, 200, 200, 0.1);
  border-radius: 8px;
  resize: vertical;
  font-size: 14px;
  outline: none;
}

.ticketsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 30px;
}

.ticketCard {
  border: 1px solid rgba(200, 200, 200, 0.1);
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.ticketMeta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 8px;
}

.ticketMetaRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
}

.metaUser {
  color: white;
}

.metaDescription {
  color: white;
}

.metaDate {
  color: var(--color-text-secondary);
}

.messagesList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.messageRow {
  border: 1px solid #e4e7ec;
  border-radius: 8px;
  padding: 8px;
}

.messageAuthor {
  font-size: 12px;
  color: #475467;
}

.messageContent {
  white-space: pre-wrap;
}

.messageTimestamp {
  font-size: 12px;
  color: #667085;
}

.ticketDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.ticketDetails {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.ticketDetailsBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 8px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.03);
}

.ticketOriginalMessage {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.03);
}

.ticketRepliesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.03);
}

.ticketReply {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(200, 200, 200, 0.1);
  padding: 8px 0;
}

.ticketReplyStatusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.ticketReplySystemBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-success);
}

.statusSelect {
  width: auto;
  padding: 3px 8px;
  border: 1px solid rgba(200, 200, 200, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.03);
}
