name: Build Pull Request
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Cache turbo build setup
        uses: actions/cache@v3
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 8.14.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Prebuild
        run: pnpm prebuild

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
        env:
          ONE_INCH_API_KEY: ${{ secrets.ONE_INCH_API_KEY }}
          ONE_INCH_API_VERSION: ${{ secrets.ONE_INCH_API_VERSION }}
          ONE_INCH_API_URL: ${{ secrets.ONE_INCH_API_URL }}
          ONE_INCH_ALLOWED_SWAP_PROTOCOLS: ${{ secrets.ONE_INCH_ALLOWED_SWAP_PROTOCOLS }}
          ONE_INCH_SWAP_CHAIN_IDS: ${{ secrets.ONE_INCH_ALLOWED_SWAP_PROTOCOLS }}
      - name: Lint
        run: pnpm lint

      - name: Format
        run: pnpm format
