import { getValueFromReference, steps } from '@summerfi/sdk-common/simulation'
import { ActionBuilder } from '@summerfi/order-planner-common/builders'
import { ActionNames } from '@summerfi/deployment-types'
import { {{name}}PaybackAction, {{name}}WithdrawAction } from '../actions/{{name}}PaybackAction.ts'
import { Address, AddressValue } from '@summerfi/sdk-common/common'

export const {{name}}PaybackWithdrawActionList: ActionNames[] = ['{{name}}Payback', '{{name}}Withdraw']

export const {{name}}PaybackWithdrawActionBuilder: ActionBuilder<steps.PaybackWithdrawStep> = async (
    params,
    ): Promise<void> => {
        const { context, user, step } = params

        context.addActionCall({
        step: params.step,
        action: new {{name}}PaybackAction(),
        arguments: {
        pool: step.inputs.position.pool,
        userAddress: user.wallet.address,
        amount: getValueFromReference(step.inputs.paybackAmount),
        paybackAll: true, // TODO: we cannot always calculate this value because debtAmount and paybackAmount are references
        },
        connectedInputs: {},
        connectedOutputs: {
        paybackAmount: 'amountPaidBack',
        },
        })

        context.addActionCall({
        step: step,
        action: new {{name}}WithdrawAction(),
        arguments: {
        pool: step.inputs.position.pool,
        userAddress: user.wallet.address,
        amount: getValueFromReference(step.inputs.withdrawAmount),
        },
        connectedInputs: {},
        connectedOutputs: {
        withdrawAmount: 'amountWithdrawn',
        },
        })
        }