export { {{nameCamelCase}}ProtocolPlugin, {{name}}ProtocolPlugin } from './{{name}}ProtocolPlugin'
export * from './builders'
export * from './actions'
export { type {{name}}LendingPool } from './Types'
