.sumrFaqWrapper {
  margin-top: 90px;
  width: 100%;
  margin-bottom: var(--general-space-128);

  .faqSectionCustomWrapper {
    width: 100%;
  }

  .faqSectionHeaderWrapper {
    color: var(--color-text-secondary);
    padding: 0 var(--spacing-space-3x-large);

    @include media('<=s') {
      padding: 0 var(--spacing-space-large);
    }
  }

  .faqSectionBlockWrapper {
    padding: 0 var(--spacing-space-small);
    margin-top: var(--spacing-space-x-large);

    @include media('>s') {
      padding: 0 var(--spacing-space-3x-large);
    }
  }
}
